<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.couponservice.mappers.CouponQuotaDetailPOMapper">
    <cache type="com.bizvane.couponservice.common.system.RedisCache" eviction="LRU"
           flushInterval="3600000"
           size="1024"
           readOnly="false">
    </cache>
  <resultMap id="BaseResultMap" type="com.bizvane.couponfacade.models.po.CouponQuotaDetailPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    <id column="coupon_quota_detail_id" jdbcType="BIGINT" property="couponQuotaDetailId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="sys_brand_id" jdbcType="BIGINT" property="sysBrandId" />
    <result column="coupon_quota_id" jdbcType="BIGINT" property="couponQuotaId" />
    <result column="quota_topic" jdbcType="VARCHAR" property="quotaTopic" />
    <result column="sys_staff_id" jdbcType="BIGINT" property="sysStaffId" />
    <result column="staff_code" jdbcType="VARCHAR" property="staffCode" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_offline_code" jdbcType="VARCHAR" property="storeOfflineCode" />
    <result column="total_number" jdbcType="INTEGER" property="totalNumber" />
    <result column="use_number" jdbcType="INTEGER" property="useNumber" />
    <result column="unuse_number" jdbcType="INTEGER" property="unuseNumber" />
    <result column="coupon_definition_code" jdbcType="VARCHAR" property="couponDefinitionCode" />
    <result column="coupon_definition_id" jdbcType="BIGINT" property="couponDefinitionId" />
    <result column="preferential_type" jdbcType="TINYINT" property="preferentialType" />
    <result column="min_consume" jdbcType="DECIMAL" property="minConsume" />
    <result column="coupon_name" jdbcType="VARCHAR" property="couponName" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="valid_day" jdbcType="INTEGER" property="validDay" />
    <result column="valid_type" jdbcType="TINYINT" property="validType" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="valid_date_start" jdbcType="TIMESTAMP" property="validDateStart" />
    <result column="valid_date_end" jdbcType="TIMESTAMP" property="validDateEnd" />
    <result column="start_date_start" jdbcType="TIMESTAMP" property="startDateStart" />
    <result column="start_date_end" jdbcType="TIMESTAMP" property="startDateEnd" />
    <result column="end_date_start" jdbcType="TIMESTAMP" property="endDateStart" />
    <result column="end_date_end" jdbcType="TIMESTAMP" property="endDateEnd" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="state_code" jdbcType="VARCHAR" property="stateCode" />
    <result column="state_name" jdbcType="VARCHAR" property="stateName" />
    <result column="extend_code" jdbcType="VARCHAR" property="extendCode" />
    <result column="extend_name" jdbcType="VARCHAR" property="extendName" />
    <result column="extend_note" jdbcType="VARCHAR" property="extendNote" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bizvane.couponfacade.models.po.CouponQuotaDetailPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    <result column="member_code_list" jdbcType="LONGVARCHAR" property="memberCodeList" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    coupon_quota_detail_id, sys_company_id, sys_brand_id, coupon_quota_id, quota_topic, 
    sys_staff_id, staff_code, staff_name, store_name, store_offline_code, total_number, 
    use_number, unuse_number, coupon_definition_code, coupon_definition_id, preferential_type, 
    min_consume, coupon_name, money, discount, valid_day, valid_type, info, valid_date_start, 
    valid_date_end, start_date_start, start_date_end, end_date_start, end_date_end, create_user_id, 
    create_user_name, create_date, modified_user_id, modified_user_name, modified_date, 
    note, state_code, state_name, extend_code, extend_name, extend_note, valid
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    member_code_list
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.bizvane.couponfacade.models.po.CouponQuotaDetailPOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_coupon_quota_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.bizvane.couponfacade.models.po.CouponQuotaDetailPOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_coupon_quota_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_coupon_quota_detail
    where coupon_quota_detail_id = #{couponQuotaDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    delete from t_coupon_quota_detail
    where coupon_quota_detail_id = #{couponQuotaDetailId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.couponfacade.models.po.CouponQuotaDetailPOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    delete from t_coupon_quota_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.couponfacade.models.po.CouponQuotaDetailPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    <selectKey keyProperty="couponQuotaDetailId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_coupon_quota_detail (sys_company_id, sys_brand_id, coupon_quota_id, 
      quota_topic, sys_staff_id, staff_code, 
      staff_name, store_name, store_offline_code, 
      total_number, use_number, unuse_number, 
      coupon_definition_code, coupon_definition_id, 
      preferential_type, min_consume, coupon_name, 
      money, discount, valid_day, 
      valid_type, info, valid_date_start, 
      valid_date_end, start_date_start, start_date_end, 
      end_date_start, end_date_end, create_user_id, 
      create_user_name, create_date, modified_user_id, 
      modified_user_name, modified_date, note, 
      state_code, state_name, extend_code, 
      extend_name, extend_note, valid, 
      member_code_list)
    values (#{sysCompanyId,jdbcType=BIGINT}, #{sysBrandId,jdbcType=BIGINT}, #{couponQuotaId,jdbcType=BIGINT}, 
      #{quotaTopic,jdbcType=VARCHAR}, #{sysStaffId,jdbcType=BIGINT}, #{staffCode,jdbcType=VARCHAR}, 
      #{staffName,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, #{storeOfflineCode,jdbcType=VARCHAR}, 
      #{totalNumber,jdbcType=INTEGER}, #{useNumber,jdbcType=INTEGER}, #{unuseNumber,jdbcType=INTEGER}, 
      #{couponDefinitionCode,jdbcType=VARCHAR}, #{couponDefinitionId,jdbcType=BIGINT}, 
      #{preferentialType,jdbcType=TINYINT}, #{minConsume,jdbcType=DECIMAL}, #{couponName,jdbcType=VARCHAR}, 
      #{money,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, #{validDay,jdbcType=INTEGER}, 
      #{validType,jdbcType=TINYINT}, #{info,jdbcType=VARCHAR}, #{validDateStart,jdbcType=TIMESTAMP}, 
      #{validDateEnd,jdbcType=TIMESTAMP}, #{startDateStart,jdbcType=TIMESTAMP}, #{startDateEnd,jdbcType=TIMESTAMP}, 
      #{endDateStart,jdbcType=TIMESTAMP}, #{endDateEnd,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifiedUserId,jdbcType=BIGINT}, 
      #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}, 
      #{stateCode,jdbcType=VARCHAR}, #{stateName,jdbcType=VARCHAR}, #{extendCode,jdbcType=VARCHAR}, 
      #{extendName,jdbcType=VARCHAR}, #{extendNote,jdbcType=VARCHAR}, #{valid,jdbcType=BIT}, 
      #{memberCodeList,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.couponfacade.models.po.CouponQuotaDetailPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    <selectKey keyProperty="couponQuotaDetailId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_coupon_quota_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="sysBrandId != null">
        sys_brand_id,
      </if>
      <if test="couponQuotaId != null">
        coupon_quota_id,
      </if>
      <if test="quotaTopic != null">
        quota_topic,
      </if>
      <if test="sysStaffId != null">
        sys_staff_id,
      </if>
      <if test="staffCode != null">
        staff_code,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="storeOfflineCode != null">
        store_offline_code,
      </if>
      <if test="totalNumber != null">
        total_number,
      </if>
      <if test="useNumber != null">
        use_number,
      </if>
      <if test="unuseNumber != null">
        unuse_number,
      </if>
      <if test="couponDefinitionCode != null">
        coupon_definition_code,
      </if>
      <if test="couponDefinitionId != null">
        coupon_definition_id,
      </if>
      <if test="preferentialType != null">
        preferential_type,
      </if>
      <if test="minConsume != null">
        min_consume,
      </if>
      <if test="couponName != null">
        coupon_name,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="validDay != null">
        valid_day,
      </if>
      <if test="validType != null">
        valid_type,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="validDateStart != null">
        valid_date_start,
      </if>
      <if test="validDateEnd != null">
        valid_date_end,
      </if>
      <if test="startDateStart != null">
        start_date_start,
      </if>
      <if test="startDateEnd != null">
        start_date_end,
      </if>
      <if test="endDateStart != null">
        end_date_start,
      </if>
      <if test="endDateEnd != null">
        end_date_end,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="stateCode != null">
        state_code,
      </if>
      <if test="stateName != null">
        state_name,
      </if>
      <if test="extendCode != null">
        extend_code,
      </if>
      <if test="extendName != null">
        extend_name,
      </if>
      <if test="extendNote != null">
        extend_note,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="memberCodeList != null">
        member_code_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="couponQuotaId != null">
        #{couponQuotaId,jdbcType=BIGINT},
      </if>
      <if test="quotaTopic != null">
        #{quotaTopic,jdbcType=VARCHAR},
      </if>
      <if test="sysStaffId != null">
        #{sysStaffId,jdbcType=BIGINT},
      </if>
      <if test="staffCode != null">
        #{staffCode,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeOfflineCode != null">
        #{storeOfflineCode,jdbcType=VARCHAR},
      </if>
      <if test="totalNumber != null">
        #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="useNumber != null">
        #{useNumber,jdbcType=INTEGER},
      </if>
      <if test="unuseNumber != null">
        #{unuseNumber,jdbcType=INTEGER},
      </if>
      <if test="couponDefinitionCode != null">
        #{couponDefinitionCode,jdbcType=VARCHAR},
      </if>
      <if test="couponDefinitionId != null">
        #{couponDefinitionId,jdbcType=BIGINT},
      </if>
      <if test="preferentialType != null">
        #{preferentialType,jdbcType=TINYINT},
      </if>
      <if test="minConsume != null">
        #{minConsume,jdbcType=DECIMAL},
      </if>
      <if test="couponName != null">
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="validDay != null">
        #{validDay,jdbcType=INTEGER},
      </if>
      <if test="validType != null">
        #{validType,jdbcType=TINYINT},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="validDateStart != null">
        #{validDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="validDateEnd != null">
        #{validDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="startDateStart != null">
        #{startDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="startDateEnd != null">
        #{startDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="endDateStart != null">
        #{endDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="endDateEnd != null">
        #{endDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="stateCode != null">
        #{stateCode,jdbcType=VARCHAR},
      </if>
      <if test="stateName != null">
        #{stateName,jdbcType=VARCHAR},
      </if>
      <if test="extendCode != null">
        #{extendCode,jdbcType=VARCHAR},
      </if>
      <if test="extendName != null">
        #{extendName,jdbcType=VARCHAR},
      </if>
      <if test="extendNote != null">
        #{extendNote,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="memberCodeList != null">
        #{memberCodeList,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.couponfacade.models.po.CouponQuotaDetailPOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    select count(*) from t_coupon_quota_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    update t_coupon_quota_detail
    <set>
      <if test="record.couponQuotaDetailId != null">
        coupon_quota_detail_id = #{record.couponQuotaDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.sysBrandId != null">
        sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="record.couponQuotaId != null">
        coupon_quota_id = #{record.couponQuotaId,jdbcType=BIGINT},
      </if>
      <if test="record.quotaTopic != null">
        quota_topic = #{record.quotaTopic,jdbcType=VARCHAR},
      </if>
      <if test="record.sysStaffId != null">
        sys_staff_id = #{record.sysStaffId,jdbcType=BIGINT},
      </if>
      <if test="record.staffCode != null">
        staff_code = #{record.staffCode,jdbcType=VARCHAR},
      </if>
      <if test="record.staffName != null">
        staff_name = #{record.staffName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeName != null">
        store_name = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeOfflineCode != null">
        store_offline_code = #{record.storeOfflineCode,jdbcType=VARCHAR},
      </if>
      <if test="record.totalNumber != null">
        total_number = #{record.totalNumber,jdbcType=INTEGER},
      </if>
      <if test="record.useNumber != null">
        use_number = #{record.useNumber,jdbcType=INTEGER},
      </if>
      <if test="record.unuseNumber != null">
        unuse_number = #{record.unuseNumber,jdbcType=INTEGER},
      </if>
      <if test="record.couponDefinitionCode != null">
        coupon_definition_code = #{record.couponDefinitionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.couponDefinitionId != null">
        coupon_definition_id = #{record.couponDefinitionId,jdbcType=BIGINT},
      </if>
      <if test="record.preferentialType != null">
        preferential_type = #{record.preferentialType,jdbcType=TINYINT},
      </if>
      <if test="record.minConsume != null">
        min_consume = #{record.minConsume,jdbcType=DECIMAL},
      </if>
      <if test="record.couponName != null">
        coupon_name = #{record.couponName,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.validDay != null">
        valid_day = #{record.validDay,jdbcType=INTEGER},
      </if>
      <if test="record.validType != null">
        valid_type = #{record.validType,jdbcType=TINYINT},
      </if>
      <if test="record.info != null">
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.validDateStart != null">
        valid_date_start = #{record.validDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validDateEnd != null">
        valid_date_end = #{record.validDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.startDateStart != null">
        start_date_start = #{record.startDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.startDateEnd != null">
        start_date_end = #{record.startDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDateStart != null">
        end_date_start = #{record.endDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDateEnd != null">
        end_date_end = #{record.endDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.stateCode != null">
        state_code = #{record.stateCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stateName != null">
        state_name = #{record.stateName,jdbcType=VARCHAR},
      </if>
      <if test="record.extendCode != null">
        extend_code = #{record.extendCode,jdbcType=VARCHAR},
      </if>
      <if test="record.extendName != null">
        extend_name = #{record.extendName,jdbcType=VARCHAR},
      </if>
      <if test="record.extendNote != null">
        extend_note = #{record.extendNote,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.memberCodeList != null">
        member_code_list = #{record.memberCodeList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    update t_coupon_quota_detail
    set coupon_quota_detail_id = #{record.couponQuotaDetailId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      coupon_quota_id = #{record.couponQuotaId,jdbcType=BIGINT},
      quota_topic = #{record.quotaTopic,jdbcType=VARCHAR},
      sys_staff_id = #{record.sysStaffId,jdbcType=BIGINT},
      staff_code = #{record.staffCode,jdbcType=VARCHAR},
      staff_name = #{record.staffName,jdbcType=VARCHAR},
      store_name = #{record.storeName,jdbcType=VARCHAR},
      store_offline_code = #{record.storeOfflineCode,jdbcType=VARCHAR},
      total_number = #{record.totalNumber,jdbcType=INTEGER},
      use_number = #{record.useNumber,jdbcType=INTEGER},
      unuse_number = #{record.unuseNumber,jdbcType=INTEGER},
      coupon_definition_code = #{record.couponDefinitionCode,jdbcType=VARCHAR},
      coupon_definition_id = #{record.couponDefinitionId,jdbcType=BIGINT},
      preferential_type = #{record.preferentialType,jdbcType=TINYINT},
      min_consume = #{record.minConsume,jdbcType=DECIMAL},
      coupon_name = #{record.couponName,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DECIMAL},
      discount = #{record.discount,jdbcType=DECIMAL},
      valid_day = #{record.validDay,jdbcType=INTEGER},
      valid_type = #{record.validType,jdbcType=TINYINT},
      info = #{record.info,jdbcType=VARCHAR},
      valid_date_start = #{record.validDateStart,jdbcType=TIMESTAMP},
      valid_date_end = #{record.validDateEnd,jdbcType=TIMESTAMP},
      start_date_start = #{record.startDateStart,jdbcType=TIMESTAMP},
      start_date_end = #{record.startDateEnd,jdbcType=TIMESTAMP},
      end_date_start = #{record.endDateStart,jdbcType=TIMESTAMP},
      end_date_end = #{record.endDateEnd,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      note = #{record.note,jdbcType=VARCHAR},
      state_code = #{record.stateCode,jdbcType=VARCHAR},
      state_name = #{record.stateName,jdbcType=VARCHAR},
      extend_code = #{record.extendCode,jdbcType=VARCHAR},
      extend_name = #{record.extendName,jdbcType=VARCHAR},
      extend_note = #{record.extendNote,jdbcType=VARCHAR},
      valid = #{record.valid,jdbcType=BIT},
      member_code_list = #{record.memberCodeList,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    update t_coupon_quota_detail
    set coupon_quota_detail_id = #{record.couponQuotaDetailId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      coupon_quota_id = #{record.couponQuotaId,jdbcType=BIGINT},
      quota_topic = #{record.quotaTopic,jdbcType=VARCHAR},
      sys_staff_id = #{record.sysStaffId,jdbcType=BIGINT},
      staff_code = #{record.staffCode,jdbcType=VARCHAR},
      staff_name = #{record.staffName,jdbcType=VARCHAR},
      store_name = #{record.storeName,jdbcType=VARCHAR},
      store_offline_code = #{record.storeOfflineCode,jdbcType=VARCHAR},
      total_number = #{record.totalNumber,jdbcType=INTEGER},
      use_number = #{record.useNumber,jdbcType=INTEGER},
      unuse_number = #{record.unuseNumber,jdbcType=INTEGER},
      coupon_definition_code = #{record.couponDefinitionCode,jdbcType=VARCHAR},
      coupon_definition_id = #{record.couponDefinitionId,jdbcType=BIGINT},
      preferential_type = #{record.preferentialType,jdbcType=TINYINT},
      min_consume = #{record.minConsume,jdbcType=DECIMAL},
      coupon_name = #{record.couponName,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DECIMAL},
      discount = #{record.discount,jdbcType=DECIMAL},
      valid_day = #{record.validDay,jdbcType=INTEGER},
      valid_type = #{record.validType,jdbcType=TINYINT},
      info = #{record.info,jdbcType=VARCHAR},
      valid_date_start = #{record.validDateStart,jdbcType=TIMESTAMP},
      valid_date_end = #{record.validDateEnd,jdbcType=TIMESTAMP},
      start_date_start = #{record.startDateStart,jdbcType=TIMESTAMP},
      start_date_end = #{record.startDateEnd,jdbcType=TIMESTAMP},
      end_date_start = #{record.endDateStart,jdbcType=TIMESTAMP},
      end_date_end = #{record.endDateEnd,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      note = #{record.note,jdbcType=VARCHAR},
      state_code = #{record.stateCode,jdbcType=VARCHAR},
      state_name = #{record.stateName,jdbcType=VARCHAR},
      extend_code = #{record.extendCode,jdbcType=VARCHAR},
      extend_name = #{record.extendName,jdbcType=VARCHAR},
      extend_note = #{record.extendNote,jdbcType=VARCHAR},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.couponfacade.models.po.CouponQuotaDetailPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    update t_coupon_quota_detail
    <set>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="couponQuotaId != null">
        coupon_quota_id = #{couponQuotaId,jdbcType=BIGINT},
      </if>
      <if test="quotaTopic != null">
        quota_topic = #{quotaTopic,jdbcType=VARCHAR},
      </if>
      <if test="sysStaffId != null">
        sys_staff_id = #{sysStaffId,jdbcType=BIGINT},
      </if>
      <if test="staffCode != null">
        staff_code = #{staffCode,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeOfflineCode != null">
        store_offline_code = #{storeOfflineCode,jdbcType=VARCHAR},
      </if>
      <if test="totalNumber != null">
        total_number = #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="useNumber != null">
        use_number = #{useNumber,jdbcType=INTEGER},
      </if>
      <if test="unuseNumber != null">
        unuse_number = #{unuseNumber,jdbcType=INTEGER},
      </if>
      <if test="couponDefinitionCode != null">
        coupon_definition_code = #{couponDefinitionCode,jdbcType=VARCHAR},
      </if>
      <if test="couponDefinitionId != null">
        coupon_definition_id = #{couponDefinitionId,jdbcType=BIGINT},
      </if>
      <if test="preferentialType != null">
        preferential_type = #{preferentialType,jdbcType=TINYINT},
      </if>
      <if test="minConsume != null">
        min_consume = #{minConsume,jdbcType=DECIMAL},
      </if>
      <if test="couponName != null">
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="validDay != null">
        valid_day = #{validDay,jdbcType=INTEGER},
      </if>
      <if test="validType != null">
        valid_type = #{validType,jdbcType=TINYINT},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="validDateStart != null">
        valid_date_start = #{validDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="validDateEnd != null">
        valid_date_end = #{validDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="startDateStart != null">
        start_date_start = #{startDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="startDateEnd != null">
        start_date_end = #{startDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="endDateStart != null">
        end_date_start = #{endDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="endDateEnd != null">
        end_date_end = #{endDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="stateCode != null">
        state_code = #{stateCode,jdbcType=VARCHAR},
      </if>
      <if test="stateName != null">
        state_name = #{stateName,jdbcType=VARCHAR},
      </if>
      <if test="extendCode != null">
        extend_code = #{extendCode,jdbcType=VARCHAR},
      </if>
      <if test="extendName != null">
        extend_name = #{extendName,jdbcType=VARCHAR},
      </if>
      <if test="extendNote != null">
        extend_note = #{extendNote,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="memberCodeList != null">
        member_code_list = #{memberCodeList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where coupon_quota_detail_id = #{couponQuotaDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bizvane.couponfacade.models.po.CouponQuotaDetailPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    update t_coupon_quota_detail
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      coupon_quota_id = #{couponQuotaId,jdbcType=BIGINT},
      quota_topic = #{quotaTopic,jdbcType=VARCHAR},
      sys_staff_id = #{sysStaffId,jdbcType=BIGINT},
      staff_code = #{staffCode,jdbcType=VARCHAR},
      staff_name = #{staffName,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      store_offline_code = #{storeOfflineCode,jdbcType=VARCHAR},
      total_number = #{totalNumber,jdbcType=INTEGER},
      use_number = #{useNumber,jdbcType=INTEGER},
      unuse_number = #{unuseNumber,jdbcType=INTEGER},
      coupon_definition_code = #{couponDefinitionCode,jdbcType=VARCHAR},
      coupon_definition_id = #{couponDefinitionId,jdbcType=BIGINT},
      preferential_type = #{preferentialType,jdbcType=TINYINT},
      min_consume = #{minConsume,jdbcType=DECIMAL},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      valid_day = #{validDay,jdbcType=INTEGER},
      valid_type = #{validType,jdbcType=TINYINT},
      info = #{info,jdbcType=VARCHAR},
      valid_date_start = #{validDateStart,jdbcType=TIMESTAMP},
      valid_date_end = #{validDateEnd,jdbcType=TIMESTAMP},
      start_date_start = #{startDateStart,jdbcType=TIMESTAMP},
      start_date_end = #{startDateEnd,jdbcType=TIMESTAMP},
      end_date_start = #{endDateStart,jdbcType=TIMESTAMP},
      end_date_end = #{endDateEnd,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      state_code = #{stateCode,jdbcType=VARCHAR},
      state_name = #{stateName,jdbcType=VARCHAR},
      extend_code = #{extendCode,jdbcType=VARCHAR},
      extend_name = #{extendName,jdbcType=VARCHAR},
      extend_note = #{extendNote,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=BIT},
      member_code_list = #{memberCodeList,jdbcType=LONGVARCHAR}
    where coupon_quota_detail_id = #{couponQuotaDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.couponfacade.models.po.CouponQuotaDetailPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-12 17:54:49.
    -->
    update t_coupon_quota_detail
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      coupon_quota_id = #{couponQuotaId,jdbcType=BIGINT},
      quota_topic = #{quotaTopic,jdbcType=VARCHAR},
      sys_staff_id = #{sysStaffId,jdbcType=BIGINT},
      staff_code = #{staffCode,jdbcType=VARCHAR},
      staff_name = #{staffName,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      store_offline_code = #{storeOfflineCode,jdbcType=VARCHAR},
      total_number = #{totalNumber,jdbcType=INTEGER},
      use_number = #{useNumber,jdbcType=INTEGER},
      unuse_number = #{unuseNumber,jdbcType=INTEGER},
      coupon_definition_code = #{couponDefinitionCode,jdbcType=VARCHAR},
      coupon_definition_id = #{couponDefinitionId,jdbcType=BIGINT},
      preferential_type = #{preferentialType,jdbcType=TINYINT},
      min_consume = #{minConsume,jdbcType=DECIMAL},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      valid_day = #{validDay,jdbcType=INTEGER},
      valid_type = #{validType,jdbcType=TINYINT},
      info = #{info,jdbcType=VARCHAR},
      valid_date_start = #{validDateStart,jdbcType=TIMESTAMP},
      valid_date_end = #{validDateEnd,jdbcType=TIMESTAMP},
      start_date_start = #{startDateStart,jdbcType=TIMESTAMP},
      start_date_end = #{startDateEnd,jdbcType=TIMESTAMP},
      end_date_start = #{endDateStart,jdbcType=TIMESTAMP},
      end_date_end = #{endDateEnd,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      state_code = #{stateCode,jdbcType=VARCHAR},
      state_name = #{stateName,jdbcType=VARCHAR},
      extend_code = #{extendCode,jdbcType=VARCHAR},
      extend_name = #{extendName,jdbcType=VARCHAR},
      extend_note = #{extendNote,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=BIT}
    where coupon_quota_detail_id = #{couponQuotaDetailId,jdbcType=BIGINT}
  </update>
  
        <select id="findCouponQuotaDetailPOByConditions" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        from t_coupon_quota_detail
        
        WHERE valid=1
        
        <if test="vo.sysBrandId != null and vo.sysBrandId!=''">
          AND sys_brand_id=#{vo.sysBrandId}  
        </if>

        <if test="vo.baseSearchValue != null and vo.baseSearchValue!=''">
        
         AND (staff_name LIKE '%${vo.baseSearchValue}%'
             OR store_name LIKE '%${vo.baseSearchValue}%')
        </if>
        
         <if test="vo.staffCode != null and vo.staffCode!=''">
          AND staff_code=#{vo.staffCode}  
        </if>
        <if test="vo.couponName != null and vo.couponName!=''">
            AND coupon_name LIKE '%${vo.couponName}%'
        </if>
          <if test="vo.couponQuotaId != null and vo.couponQuotaId!=''">
          AND coupon_quota_id=#{vo.couponQuotaId}  
        </if> 
         <if test="vo.couponQuotaDetailId != null and vo.couponQuotaDetailId!=''">
          AND coupon_quota_detail_id=#{vo.couponQuotaDetailId}  
        </if>
           <if test="vo.extendNote != null and vo.extendNote!=''">
           AND start_date_start &lt;= #{vo.extendNote} AND start_date_end &gt;= #{vo.extendNote}
        </if> 
        
        ORDER BY create_date DESC


    </select>
    
     <select id="findCouponQuotaDetailPOByConditionsall" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        from t_coupon_quota_detail
        
        WHERE 1=1
        
        <if test="vo.sysBrandId != null and vo.sysBrandId!=''">
          AND sys_brand_id=#{vo.sysBrandId}  
        </if>

        <if test="vo.baseSearchValue != null and vo.baseSearchValue!=''">
        
         AND (staff_name LIKE '%${vo.baseSearchValue}%'
             OR store_name LIKE '%${vo.baseSearchValue}%')
        </if>
        
         <if test="vo.staffCode != null and vo.staffCode!=''">
          AND staff_code=#{vo.staffCode}  
        </if>
        <if test="vo.couponName != null and vo.couponName!=''">
            AND coupon_name LIKE '%${vo.couponName}%'
        </if>
          <if test="vo.couponQuotaId != null and vo.couponQuotaId!=''">
          AND coupon_quota_id=#{vo.couponQuotaId}  
        </if> 
         <if test="vo.couponQuotaDetailId != null and vo.couponQuotaDetailId!=''">
          AND coupon_quota_detail_id=#{vo.couponQuotaDetailId}  
        </if>
           <if test="vo.extendNote != null and vo.extendNote!=''">
           AND start_date_start &lt;= #{vo.extendNote} AND start_date_end &gt;= #{vo.extendNote}
        </if> 
        
        ORDER BY create_date DESC


    </select>
</mapper>