<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizvane.messageservice.mappers.MsgSendTimePOMapper" >
  <resultMap id="BaseResultMap" type="com.bizvane.messagefacade.models.po.MsgSendTimePO" >
    <id column="msg_sendtime_id" property="msgSendtimeId" jdbcType="BIGINT" />
    <result column="sys_brand_id" property="sysBrandId" jdbcType="BIGINT" />
    <result column="sys_company_id" property="sysBrandId" jdbcType="BIGINT" />
    <result column="send_time_start" property="sendTimeStart" jdbcType="TIME" />
    <result column="send_time_end" property="sendTimeEnd" jdbcType="TIME" />
    <result column="modified_user_id" property="modifiedUserId" jdbcType="BIGINT" />
    <result column="modified_user_name" property="modifiedUserName" jdbcType="VARCHAR" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="valid" property="valid" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    msg_sendtime_id, sys_company_id,sys_brand_id, send_time_start, send_time_end, modified_user_id, 
    modified_user_name, modified_date, create_user_id, create_user_name, create_date, 
    valid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bizvane.messagefacade.models.po.MsgSendTimePOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_msg_sendtime
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_msg_sendtime
    where msg_sendtime_id = #{msgSendtimeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_msg_sendtime
    where msg_sendtime_id = #{msgSendtimeId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.messagefacade.models.po.MsgSendTimePOExample" >
    delete from t_msg_sendtime
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.messagefacade.models.po.MsgSendTimePO" >
    <selectKey resultType="java.lang.Long" keyProperty="msgSendtimeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_msg_sendtime (sys_company_id, sys_brand_id, send_time_start, send_time_end, 
      modified_user_id, modified_user_name, modified_date, 
      create_user_id, create_user_name, create_date, 
      valid)
    values (#{sysCompanyId,jdbcType=BIGINT},#{sysBrandId,jdbcType=BIGINT}, #{sendTimeStart,jdbcType=TIME}, #{sendTimeEnd,jdbcType=TIME}, 
      #{modifiedUserId,jdbcType=BIGINT}, #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.messagefacade.models.po.MsgSendTimePO" >
    <selectKey resultType="java.lang.Long" keyProperty="msgSendtimeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_msg_sendtime
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysBrandId != null" >
        sys_brand_id,
      </if>
      <if test="sendTimeStart != null" >
        send_time_start,
      </if>
     <if test="sendTimeStart != null" >
        sys_company_id, 
      </if>
      
      <if test="sendTimeEnd != null" >
        send_time_end,
      </if>
      <if test="modifiedUserId != null" >
        modified_user_id,
      </if>
      <if test="modifiedUserName != null" >
        modified_user_name,
      </if>
      <if test="modifiedDate != null" >
        modified_date,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysBrandId != null" >
        #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="sendTimeStart != null" >
        #{sendTimeStart,jdbcType=TIME},
      </if>
      <if test="sendTimeEnd != null" >
        #{sendTimeEnd,jdbcType=TIME},
      </if>
      <if test="modifiedUserId != null" >
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null" >
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.messagefacade.models.po.MsgSendTimePOExample" resultType="java.lang.Integer" >
    select count(*) from t_msg_sendtime
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_msg_sendtime
    <set >
      <if test="record.msgSendtimeId != null" >
        msg_sendtime_id = #{record.msgSendtimeId,jdbcType=BIGINT},
      </if>
      <if test="record.sysBrandId != null" >
        sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="record.sendTimeStart != null" >
        send_time_start = #{record.sendTimeStart,jdbcType=TIME},
      </if>
      <if test="record.sysCompanyId != null" >
        sysCompanyId = #{record.sysCompanyId,jdbcType=TIME},
      </if>
      <if test="record.sendTimeEnd != null" >
        send_time_end = #{record.sendTimeEnd,jdbcType=TIME},
      </if>
      <if test="record.modifiedUserId != null" >
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null" >
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null" >
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null" >
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null" >
        valid = #{record.valid,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_msg_sendtime
    set msg_sendtime_id = #{record.msgSendtimeId,jdbcType=BIGINT},
      sys_company_id  = #{record.sys_company_id ,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      send_time_start = #{record.sendTimeStart,jdbcType=TIME},
      send_time_end = #{record.sendTimeEnd,jdbcType=TIME},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.messagefacade.models.po.MsgSendTimePO" >
    update t_msg_sendtime
    <set >
    
       <if test="sys_company_id != null" >
        sys_company_id = #{sys_company_id,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null" >
        sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="sendTimeStart != null" >
        send_time_start = #{sendTimeStart,jdbcType=TIME},
      </if>
      <if test="sendTimeEnd != null" >
        send_time_end = #{sendTimeEnd,jdbcType=TIME},
      </if>
      <if test="modifiedUserId != null" >
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null" >
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=BIT},
      </if>
    </set>
    where msg_sendtime_id = #{msgSendtimeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.messagefacade.models.po.MsgSendTimePO" >
    update t_msg_sendtime
    set sys_company_id = #{sys_company_id,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      send_time_start = #{sendTimeStart,jdbcType=TIME},
      send_time_end = #{sendTimeEnd,jdbcType=TIME},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where msg_sendtime_id = #{msgSendtimeId,jdbcType=BIGINT}
  </update>
</mapper>