<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.messageservice.mappers.RocketConfigPOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.messagefacade.models.po.RocketConfigPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    <id column="rocket_config_id" jdbcType="INTEGER" property="rocketConfigId" />
    <result column="model_name" jdbcType="VARCHAR" property="modelName" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="message_listener_bean" jdbcType="VARCHAR" property="messageListenerBean" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    rocket_config_id, model_name, business_type, role_type, role_id, topic, tag, message_listener_bean, 
    remark, create_user_id, create_user_name, create_date, modified_user_id, modified_user_name, 
    modified_date, valid
  </sql>
  <select id="selectByExample" parameterType="com.bizvane.messagefacade.models.po.RocketConfigPOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_rocket_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    select 
    <include refid="Base_Column_List" />
    from t_rocket_config
    where rocket_config_id = #{rocketConfigId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    delete from t_rocket_config
    where rocket_config_id = #{rocketConfigId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.messagefacade.models.po.RocketConfigPOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    delete from t_rocket_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.messagefacade.models.po.RocketConfigPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    <selectKey keyProperty="rocketConfigId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_rocket_config (model_name, business_type, role_type, 
      role_id, topic, tag, 
      message_listener_bean, remark, create_user_id, 
      create_user_name, create_date, modified_user_id, 
      modified_user_name, modified_date, valid
      )
    values (#{modelName,jdbcType=VARCHAR}, #{businessType,jdbcType=VARCHAR}, #{roleType,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=VARCHAR}, #{topic,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{messageListenerBean,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifiedUserId,jdbcType=BIGINT}, 
      #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.messagefacade.models.po.RocketConfigPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    <selectKey keyProperty="rocketConfigId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_rocket_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modelName != null">
        model_name,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="messageListenerBean != null">
        message_listener_bean,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modelName != null">
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="messageListenerBean != null">
        #{messageListenerBean,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.messagefacade.models.po.RocketConfigPOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    select count(*) from t_rocket_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    update t_rocket_config
    <set>
      <if test="record.rocketConfigId != null">
        rocket_config_id = #{record.rocketConfigId,jdbcType=INTEGER},
      </if>
      <if test="record.modelName != null">
        model_name = #{record.modelName,jdbcType=VARCHAR},
      </if>
      <if test="record.businessType != null">
        business_type = #{record.businessType,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null">
        role_type = #{record.roleType,jdbcType=VARCHAR},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=VARCHAR},
      </if>
      <if test="record.topic != null">
        topic = #{record.topic,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null">
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.messageListenerBean != null">
        message_listener_bean = #{record.messageListenerBean,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    update t_rocket_config
    set rocket_config_id = #{record.rocketConfigId,jdbcType=INTEGER},
      model_name = #{record.modelName,jdbcType=VARCHAR},
      business_type = #{record.businessType,jdbcType=VARCHAR},
      role_type = #{record.roleType,jdbcType=VARCHAR},
      role_id = #{record.roleId,jdbcType=VARCHAR},
      topic = #{record.topic,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      message_listener_bean = #{record.messageListenerBean,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.messagefacade.models.po.RocketConfigPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    update t_rocket_config
    <set>
      <if test="modelName != null">
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="messageListenerBean != null">
        message_listener_bean = #{messageListenerBean,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
    </set>
    where rocket_config_id = #{rocketConfigId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.messagefacade.models.po.RocketConfigPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-10 21:03:24.
    -->
    update t_rocket_config
    set model_name = #{modelName,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      topic = #{topic,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      message_listener_bean = #{messageListenerBean,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where rocket_config_id = #{rocketConfigId,jdbcType=INTEGER}
  </update>
</mapper>