<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.messageservice.mappers.WechatMessageLogPOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.messagefacade.models.po.WechatMessageLogPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    <id column="wechat_message_log_id" jdbcType="BIGINT" property="wechatMessageLogId" />
    <result column="rocket_msg_id" jdbcType="VARCHAR" property="rocketMsgId" />
    <result column="message_id" jdbcType="VARCHAR" property="messageId" />
    <result column="bussiness_module_code" jdbcType="VARCHAR" property="bussinessModuleCode" />
    <result column="bussiness_id" jdbcType="VARCHAR" property="bussinessId" />
    <result column="wx_public_id" jdbcType="BIGINT" property="wxPublicId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="member_phone" jdbcType="VARCHAR" property="memberPhone" />
    <result column="wx_nick" jdbcType="VARCHAR" property="wxNick" />
    <result column="template_type" jdbcType="VARCHAR" property="templateType" />
    <result column="data_body" jdbcType="VARCHAR" property="dataBody" />
    <result column="message_body" jdbcType="VARCHAR" property="messageBody" />
    <result column="result_info" jdbcType="VARCHAR" property="resultInfo" />
    <result column="send_state" jdbcType="VARCHAR" property="sendState" />
    <result column="is_resend" jdbcType="BIT" property="isResend" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    wechat_message_log_id, rocket_msg_id, message_id, bussiness_module_code, bussiness_id, 
    wx_public_id, open_id, member_name, member_phone, wx_nick, template_type, data_body, 
    message_body, result_info, send_state, is_resend, update_user_id, update_date, create_user_id, 
    create_date
  </sql>
  <select id="selectByExample" parameterType="com.bizvane.messagefacade.models.po.WechatMessageLogPOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_wechat_message_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    select 
    <include refid="Base_Column_List" />
    from t_wechat_message_log
    where wechat_message_log_id = #{wechatMessageLogId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    delete from t_wechat_message_log
    where wechat_message_log_id = #{wechatMessageLogId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.messagefacade.models.po.WechatMessageLogPOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    delete from t_wechat_message_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.messagefacade.models.po.WechatMessageLogPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    <selectKey keyProperty="wechatMessageLogId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_wechat_message_log (rocket_msg_id, message_id, bussiness_module_code, 
      bussiness_id, wx_public_id, open_id, 
      member_name, member_phone, wx_nick, 
      template_type, data_body, message_body, 
      result_info, send_state, is_resend, 
      update_user_id, update_date, create_user_id, 
      create_date)
    values (#{rocketMsgId,jdbcType=VARCHAR}, #{messageId,jdbcType=VARCHAR}, #{bussinessModuleCode,jdbcType=VARCHAR}, 
      #{bussinessId,jdbcType=VARCHAR}, #{wxPublicId,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{memberPhone,jdbcType=VARCHAR}, #{wxNick,jdbcType=VARCHAR}, 
      #{templateType,jdbcType=VARCHAR}, #{dataBody,jdbcType=VARCHAR}, #{messageBody,jdbcType=VARCHAR}, 
      #{resultInfo,jdbcType=VARCHAR}, #{sendState,jdbcType=VARCHAR}, #{isResend,jdbcType=BIT}, 
      #{updateUserId,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.messagefacade.models.po.WechatMessageLogPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    <selectKey keyProperty="wechatMessageLogId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_wechat_message_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rocketMsgId != null">
        rocket_msg_id,
      </if>
      <if test="messageId != null">
        message_id,
      </if>
      <if test="bussinessModuleCode != null">
        bussiness_module_code,
      </if>
      <if test="bussinessId != null">
        bussiness_id,
      </if>
      <if test="wxPublicId != null">
        wx_public_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="memberPhone != null">
        member_phone,
      </if>
      <if test="wxNick != null">
        wx_nick,
      </if>
      <if test="templateType != null">
        template_type,
      </if>
      <if test="dataBody != null">
        data_body,
      </if>
      <if test="messageBody != null">
        message_body,
      </if>
      <if test="resultInfo != null">
        result_info,
      </if>
      <if test="sendState != null">
        send_state,
      </if>
      <if test="isResend != null">
        is_resend,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rocketMsgId != null">
        #{rocketMsgId,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null">
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="bussinessModuleCode != null">
        #{bussinessModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="bussinessId != null">
        #{bussinessId,jdbcType=VARCHAR},
      </if>
      <if test="wxPublicId != null">
        #{wxPublicId,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberPhone != null">
        #{memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="wxNick != null">
        #{wxNick,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        #{templateType,jdbcType=VARCHAR},
      </if>
      <if test="dataBody != null">
        #{dataBody,jdbcType=VARCHAR},
      </if>
      <if test="messageBody != null">
        #{messageBody,jdbcType=VARCHAR},
      </if>
      <if test="resultInfo != null">
        #{resultInfo,jdbcType=VARCHAR},
      </if>
      <if test="sendState != null">
        #{sendState,jdbcType=VARCHAR},
      </if>
      <if test="isResend != null">
        #{isResend,jdbcType=BIT},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.messagefacade.models.po.WechatMessageLogPOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    select count(*) from t_wechat_message_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    update t_wechat_message_log
    <set>
      <if test="record.wechatMessageLogId != null">
        wechat_message_log_id = #{record.wechatMessageLogId,jdbcType=BIGINT},
      </if>
      <if test="record.rocketMsgId != null">
        rocket_msg_id = #{record.rocketMsgId,jdbcType=VARCHAR},
      </if>
      <if test="record.messageId != null">
        message_id = #{record.messageId,jdbcType=VARCHAR},
      </if>
      <if test="record.bussinessModuleCode != null">
        bussiness_module_code = #{record.bussinessModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bussinessId != null">
        bussiness_id = #{record.bussinessId,jdbcType=VARCHAR},
      </if>
      <if test="record.wxPublicId != null">
        wx_public_id = #{record.wxPublicId,jdbcType=BIGINT},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberName != null">
        member_name = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberPhone != null">
        member_phone = #{record.memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.wxNick != null">
        wx_nick = #{record.wxNick,jdbcType=VARCHAR},
      </if>
      <if test="record.templateType != null">
        template_type = #{record.templateType,jdbcType=VARCHAR},
      </if>
      <if test="record.dataBody != null">
        data_body = #{record.dataBody,jdbcType=VARCHAR},
      </if>
      <if test="record.messageBody != null">
        message_body = #{record.messageBody,jdbcType=VARCHAR},
      </if>
      <if test="record.resultInfo != null">
        result_info = #{record.resultInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.sendState != null">
        send_state = #{record.sendState,jdbcType=VARCHAR},
      </if>
      <if test="record.isResend != null">
        is_resend = #{record.isResend,jdbcType=BIT},
      </if>
      <if test="record.updateUserId != null">
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    update t_wechat_message_log
    set wechat_message_log_id = #{record.wechatMessageLogId,jdbcType=BIGINT},
      rocket_msg_id = #{record.rocketMsgId,jdbcType=VARCHAR},
      message_id = #{record.messageId,jdbcType=VARCHAR},
      bussiness_module_code = #{record.bussinessModuleCode,jdbcType=VARCHAR},
      bussiness_id = #{record.bussinessId,jdbcType=VARCHAR},
      wx_public_id = #{record.wxPublicId,jdbcType=BIGINT},
      open_id = #{record.openId,jdbcType=VARCHAR},
      member_name = #{record.memberName,jdbcType=VARCHAR},
      member_phone = #{record.memberPhone,jdbcType=VARCHAR},
      wx_nick = #{record.wxNick,jdbcType=VARCHAR},
      template_type = #{record.templateType,jdbcType=VARCHAR},
      data_body = #{record.dataBody,jdbcType=VARCHAR},
      message_body = #{record.messageBody,jdbcType=VARCHAR},
      result_info = #{record.resultInfo,jdbcType=VARCHAR},
      send_state = #{record.sendState,jdbcType=VARCHAR},
      is_resend = #{record.isResend,jdbcType=BIT},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.messagefacade.models.po.WechatMessageLogPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    update t_wechat_message_log
    <set>
      <if test="rocketMsgId != null">
        rocket_msg_id = #{rocketMsgId,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null">
        message_id = #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="bussinessModuleCode != null">
        bussiness_module_code = #{bussinessModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="bussinessId != null">
        bussiness_id = #{bussinessId,jdbcType=VARCHAR},
      </if>
      <if test="wxPublicId != null">
        wx_public_id = #{wxPublicId,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberPhone != null">
        member_phone = #{memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="wxNick != null">
        wx_nick = #{wxNick,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        template_type = #{templateType,jdbcType=VARCHAR},
      </if>
      <if test="dataBody != null">
        data_body = #{dataBody,jdbcType=VARCHAR},
      </if>
      <if test="messageBody != null">
        message_body = #{messageBody,jdbcType=VARCHAR},
      </if>
      <if test="resultInfo != null">
        result_info = #{resultInfo,jdbcType=VARCHAR},
      </if>
      <if test="sendState != null">
        send_state = #{sendState,jdbcType=VARCHAR},
      </if>
      <if test="isResend != null">
        is_resend = #{isResend,jdbcType=BIT},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wechat_message_log_id = #{wechatMessageLogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.messagefacade.models.po.WechatMessageLogPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-31 16:15:01.
    -->
    update t_wechat_message_log
    set rocket_msg_id = #{rocketMsgId,jdbcType=VARCHAR},
      message_id = #{messageId,jdbcType=VARCHAR},
      bussiness_module_code = #{bussinessModuleCode,jdbcType=VARCHAR},
      bussiness_id = #{bussinessId,jdbcType=VARCHAR},
      wx_public_id = #{wxPublicId,jdbcType=BIGINT},
      open_id = #{openId,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR},
      member_phone = #{memberPhone,jdbcType=VARCHAR},
      wx_nick = #{wxNick,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=VARCHAR},
      data_body = #{dataBody,jdbcType=VARCHAR},
      message_body = #{messageBody,jdbcType=VARCHAR},
      result_info = #{resultInfo,jdbcType=VARCHAR},
      send_state = #{sendState,jdbcType=VARCHAR},
      is_resend = #{isResend,jdbcType=BIT},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where wechat_message_log_id = #{wechatMessageLogId,jdbcType=BIGINT}
  </update>

  <resultMap extends="BaseResultMap" id="VOResultMap" type="com.bizvane.messagefacade.models.vo.WechatMessageLogVO">

  </resultMap>

  <!--非系统sql-->
  <select id="findPage" resultMap="VOResultMap">
      SELECT
          log.wechat_message_log_id,
          log.send_state,
          log.open_id,
          log.member_name,
          log.member_phone,
          log.wx_nick,
          log.template_type
      FROM
      t_wechat_message_log log
      WHERE 1=1
      <if test="vo.memberName!=null and vo.memberName!=''">
        AND log.member_name LIKE "%"#{vo.memberName}"%"
      </if>
    <if test="vo.memberPhone!=null and vo.memberPhone!=''">
      AND log.member_phone=#{vo.memberPhone}
    </if>
    <if test="vo.wxNick!=null and vo.wxNick!=''">
      AND log.wx_nick LIKE "%"#{vo.wxNick}"%"
    </if>
    <if test="vo.openId!=null and vo.openId!=''">
      AND log.open_id=#{vo.openId}
    </if>
    <if test="vo.templateType!=null and vo.templateType!=''">
      AND log.template_type=#{vo.templateType}
    </if>
    <if test="vo.sendTimeStart!=null and vo.sendTimeStart!=''">
      <if test="vo.sendTimeEnd!=null and vo.sendTimeEnd!=''">
        AND date_format(log.create_date,'%Y-%m-%d') &gt;= #{vo.sendTimeStart} AND date_format(log.create_date,'%Y-%m-%d') &lt;= #{vo.sendTimeEnd}
      </if>
    </if>
    <if test="vo.searchValue!=null and vo.searchValue!=''">
      AND log.member_name LIKE "%"#{vo.searchValue}"%" OR log.template_type LIKE "%"#{vo.searchValue}"%"
    </if>
  </select>


</mapper>