<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.MktActivityStatisticsPOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    <id column="mkt_activity_statistics_id" jdbcType="BIGINT" property="mktActivityStatisticsId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="sys_brand_id" jdbcType="BIGINT" property="sysBrandId" />
    <result column="mkt_activity_id" jdbcType="BIGINT" property="mktActivityId" />
    <result column="visitors_count" jdbcType="INTEGER" property="visitorsCount" />
    <result column="launch_members_count" jdbcType="INTEGER" property="launchMembersCount" />
    <result column="help_members_count" jdbcType="INTEGER" property="helpMembersCount" />
    <result column="register_members_count" jdbcType="INTEGER" property="registerMembersCount" />
    <result column="take_coupon_count" jdbcType="BIGINT" property="takeCouponCount" />
    <result column="total_visitors_count" jdbcType="BIGINT" property="totalVisitorsCount" />
    <result column="total_launch_members_count" jdbcType="BIGINT" property="totalLaunchMembersCount" />
    <result column="total_help_members_count" jdbcType="BIGINT" property="totalHelpMembersCount" />
    <result column="total_register_members_count" jdbcType="BIGINT" property="totalRegisterMembersCount" />
    <result column="total_take_coupon_count" jdbcType="BIGINT" property="totalTakeCouponCount" />
    <result column="statistics_time" jdbcType="DATE" property="statisticsTime" />
    <result column="statistics_type" jdbcType="CHAR" property="statisticsType" />
    <result column="remark" jdbcType="CHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    <result column="hour_json_data" jdbcType="LONGVARCHAR" property="hourJsonData" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    mkt_activity_statistics_id, sys_company_id, sys_brand_id, mkt_activity_id, visitors_count, 
    launch_members_count, help_members_count, register_members_count, take_coupon_count, 
    total_visitors_count, total_launch_members_count, total_help_members_count, total_register_members_count, 
    total_take_coupon_count, statistics_time, statistics_type, remark, create_user_id, 
    create_user_name, create_date, modified_user_id, modified_user_name, modified_date, 
    valid
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    hour_json_data
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_activity_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mkt_activity_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_activity_statistics
    where mkt_activity_statistics_id = #{mktActivityStatisticsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    delete from t_mkt_activity_statistics
    where mkt_activity_statistics_id = #{mktActivityStatisticsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    delete from t_mkt_activity_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    <selectKey keyProperty="mktActivityStatisticsId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_statistics (sys_company_id, sys_brand_id, mkt_activity_id, 
      visitors_count, launch_members_count, help_members_count, 
      register_members_count, take_coupon_count, total_visitors_count, 
      total_launch_members_count, total_help_members_count, 
      total_register_members_count, total_take_coupon_count, 
      statistics_time, statistics_type, remark, 
      create_user_id, create_user_name, create_date, 
      modified_user_id, modified_user_name, modified_date, 
      valid, hour_json_data)
    values (#{sysCompanyId,jdbcType=BIGINT}, #{sysBrandId,jdbcType=BIGINT}, #{mktActivityId,jdbcType=BIGINT}, 
      #{visitorsCount,jdbcType=INTEGER}, #{launchMembersCount,jdbcType=INTEGER}, #{helpMembersCount,jdbcType=INTEGER}, 
      #{registerMembersCount,jdbcType=INTEGER}, #{takeCouponCount,jdbcType=BIGINT}, #{totalVisitorsCount,jdbcType=BIGINT}, 
      #{totalLaunchMembersCount,jdbcType=BIGINT}, #{totalHelpMembersCount,jdbcType=BIGINT}, 
      #{totalRegisterMembersCount,jdbcType=BIGINT}, #{totalTakeCouponCount,jdbcType=BIGINT}, 
      #{statisticsTime,jdbcType=DATE}, #{statisticsType,jdbcType=CHAR}, #{remark,jdbcType=CHAR}, 
      #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifiedUserId,jdbcType=BIGINT}, #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=BIT}, #{hourJsonData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    <selectKey keyProperty="mktActivityStatisticsId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="sysBrandId != null">
        sys_brand_id,
      </if>
      <if test="mktActivityId != null">
        mkt_activity_id,
      </if>
      <if test="visitorsCount != null">
        visitors_count,
      </if>
      <if test="launchMembersCount != null">
        launch_members_count,
      </if>
      <if test="helpMembersCount != null">
        help_members_count,
      </if>
      <if test="registerMembersCount != null">
        register_members_count,
      </if>
      <if test="takeCouponCount != null">
        take_coupon_count,
      </if>
      <if test="totalVisitorsCount != null">
        total_visitors_count,
      </if>
      <if test="totalLaunchMembersCount != null">
        total_launch_members_count,
      </if>
      <if test="totalHelpMembersCount != null">
        total_help_members_count,
      </if>
      <if test="totalRegisterMembersCount != null">
        total_register_members_count,
      </if>
      <if test="totalTakeCouponCount != null">
        total_take_coupon_count,
      </if>
      <if test="statisticsTime != null">
        statistics_time,
      </if>
      <if test="statisticsType != null">
        statistics_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="hourJsonData != null">
        hour_json_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="mktActivityId != null">
        #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="visitorsCount != null">
        #{visitorsCount,jdbcType=INTEGER},
      </if>
      <if test="launchMembersCount != null">
        #{launchMembersCount,jdbcType=INTEGER},
      </if>
      <if test="helpMembersCount != null">
        #{helpMembersCount,jdbcType=INTEGER},
      </if>
      <if test="registerMembersCount != null">
        #{registerMembersCount,jdbcType=INTEGER},
      </if>
      <if test="takeCouponCount != null">
        #{takeCouponCount,jdbcType=BIGINT},
      </if>
      <if test="totalVisitorsCount != null">
        #{totalVisitorsCount,jdbcType=BIGINT},
      </if>
      <if test="totalLaunchMembersCount != null">
        #{totalLaunchMembersCount,jdbcType=BIGINT},
      </if>
      <if test="totalHelpMembersCount != null">
        #{totalHelpMembersCount,jdbcType=BIGINT},
      </if>
      <if test="totalRegisterMembersCount != null">
        #{totalRegisterMembersCount,jdbcType=BIGINT},
      </if>
      <if test="totalTakeCouponCount != null">
        #{totalTakeCouponCount,jdbcType=BIGINT},
      </if>
      <if test="statisticsTime != null">
        #{statisticsTime,jdbcType=DATE},
      </if>
      <if test="statisticsType != null">
        #{statisticsType,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=CHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="hourJsonData != null">
        #{hourJsonData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    select count(*) from t_mkt_activity_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    update t_mkt_activity_statistics
    <set>
      <if test="record.mktActivityStatisticsId != null">
        mkt_activity_statistics_id = #{record.mktActivityStatisticsId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.sysBrandId != null">
        sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="record.mktActivityId != null">
        mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="record.visitorsCount != null">
        visitors_count = #{record.visitorsCount,jdbcType=INTEGER},
      </if>
      <if test="record.launchMembersCount != null">
        launch_members_count = #{record.launchMembersCount,jdbcType=INTEGER},
      </if>
      <if test="record.helpMembersCount != null">
        help_members_count = #{record.helpMembersCount,jdbcType=INTEGER},
      </if>
      <if test="record.registerMembersCount != null">
        register_members_count = #{record.registerMembersCount,jdbcType=INTEGER},
      </if>
      <if test="record.takeCouponCount != null">
        take_coupon_count = #{record.takeCouponCount,jdbcType=BIGINT},
      </if>
      <if test="record.totalVisitorsCount != null">
        total_visitors_count = #{record.totalVisitorsCount,jdbcType=BIGINT},
      </if>
      <if test="record.totalLaunchMembersCount != null">
        total_launch_members_count = #{record.totalLaunchMembersCount,jdbcType=BIGINT},
      </if>
      <if test="record.totalHelpMembersCount != null">
        total_help_members_count = #{record.totalHelpMembersCount,jdbcType=BIGINT},
      </if>
      <if test="record.totalRegisterMembersCount != null">
        total_register_members_count = #{record.totalRegisterMembersCount,jdbcType=BIGINT},
      </if>
      <if test="record.totalTakeCouponCount != null">
        total_take_coupon_count = #{record.totalTakeCouponCount,jdbcType=BIGINT},
      </if>
      <if test="record.statisticsTime != null">
        statistics_time = #{record.statisticsTime,jdbcType=DATE},
      </if>
      <if test="record.statisticsType != null">
        statistics_type = #{record.statisticsType,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=CHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.hourJsonData != null">
        hour_json_data = #{record.hourJsonData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    update t_mkt_activity_statistics
    set mkt_activity_statistics_id = #{record.mktActivityStatisticsId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      visitors_count = #{record.visitorsCount,jdbcType=INTEGER},
      launch_members_count = #{record.launchMembersCount,jdbcType=INTEGER},
      help_members_count = #{record.helpMembersCount,jdbcType=INTEGER},
      register_members_count = #{record.registerMembersCount,jdbcType=INTEGER},
      take_coupon_count = #{record.takeCouponCount,jdbcType=BIGINT},
      total_visitors_count = #{record.totalVisitorsCount,jdbcType=BIGINT},
      total_launch_members_count = #{record.totalLaunchMembersCount,jdbcType=BIGINT},
      total_help_members_count = #{record.totalHelpMembersCount,jdbcType=BIGINT},
      total_register_members_count = #{record.totalRegisterMembersCount,jdbcType=BIGINT},
      total_take_coupon_count = #{record.totalTakeCouponCount,jdbcType=BIGINT},
      statistics_time = #{record.statisticsTime,jdbcType=DATE},
      statistics_type = #{record.statisticsType,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=CHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT},
      hour_json_data = #{record.hourJsonData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    update t_mkt_activity_statistics
    set mkt_activity_statistics_id = #{record.mktActivityStatisticsId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      visitors_count = #{record.visitorsCount,jdbcType=INTEGER},
      launch_members_count = #{record.launchMembersCount,jdbcType=INTEGER},
      help_members_count = #{record.helpMembersCount,jdbcType=INTEGER},
      register_members_count = #{record.registerMembersCount,jdbcType=INTEGER},
      take_coupon_count = #{record.takeCouponCount,jdbcType=BIGINT},
      total_visitors_count = #{record.totalVisitorsCount,jdbcType=BIGINT},
      total_launch_members_count = #{record.totalLaunchMembersCount,jdbcType=BIGINT},
      total_help_members_count = #{record.totalHelpMembersCount,jdbcType=BIGINT},
      total_register_members_count = #{record.totalRegisterMembersCount,jdbcType=BIGINT},
      total_take_coupon_count = #{record.totalTakeCouponCount,jdbcType=BIGINT},
      statistics_time = #{record.statisticsTime,jdbcType=DATE},
      statistics_type = #{record.statisticsType,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=CHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    update t_mkt_activity_statistics
    <set>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="mktActivityId != null">
        mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="visitorsCount != null">
        visitors_count = #{visitorsCount,jdbcType=INTEGER},
      </if>
      <if test="launchMembersCount != null">
        launch_members_count = #{launchMembersCount,jdbcType=INTEGER},
      </if>
      <if test="helpMembersCount != null">
        help_members_count = #{helpMembersCount,jdbcType=INTEGER},
      </if>
      <if test="registerMembersCount != null">
        register_members_count = #{registerMembersCount,jdbcType=INTEGER},
      </if>
      <if test="takeCouponCount != null">
        take_coupon_count = #{takeCouponCount,jdbcType=BIGINT},
      </if>
      <if test="totalVisitorsCount != null">
        total_visitors_count = #{totalVisitorsCount,jdbcType=BIGINT},
      </if>
      <if test="totalLaunchMembersCount != null">
        total_launch_members_count = #{totalLaunchMembersCount,jdbcType=BIGINT},
      </if>
      <if test="totalHelpMembersCount != null">
        total_help_members_count = #{totalHelpMembersCount,jdbcType=BIGINT},
      </if>
      <if test="totalRegisterMembersCount != null">
        total_register_members_count = #{totalRegisterMembersCount,jdbcType=BIGINT},
      </if>
      <if test="totalTakeCouponCount != null">
        total_take_coupon_count = #{totalTakeCouponCount,jdbcType=BIGINT},
      </if>
      <if test="statisticsTime != null">
        statistics_time = #{statisticsTime,jdbcType=DATE},
      </if>
      <if test="statisticsType != null">
        statistics_type = #{statisticsType,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=CHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="hourJsonData != null">
        hour_json_data = #{hourJsonData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mkt_activity_statistics_id = #{mktActivityStatisticsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    update t_mkt_activity_statistics
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      visitors_count = #{visitorsCount,jdbcType=INTEGER},
      launch_members_count = #{launchMembersCount,jdbcType=INTEGER},
      help_members_count = #{helpMembersCount,jdbcType=INTEGER},
      register_members_count = #{registerMembersCount,jdbcType=INTEGER},
      take_coupon_count = #{takeCouponCount,jdbcType=BIGINT},
      total_visitors_count = #{totalVisitorsCount,jdbcType=BIGINT},
      total_launch_members_count = #{totalLaunchMembersCount,jdbcType=BIGINT},
      total_help_members_count = #{totalHelpMembersCount,jdbcType=BIGINT},
      total_register_members_count = #{totalRegisterMembersCount,jdbcType=BIGINT},
      total_take_coupon_count = #{totalTakeCouponCount,jdbcType=BIGINT},
      statistics_time = #{statisticsTime,jdbcType=DATE},
      statistics_type = #{statisticsType,jdbcType=CHAR},
      remark = #{remark,jdbcType=CHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT},
      hour_json_data = #{hourJsonData,jdbcType=LONGVARCHAR}
    where mkt_activity_statistics_id = #{mktActivityStatisticsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-25 11:55:25.
    -->
    update t_mkt_activity_statistics
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      visitors_count = #{visitorsCount,jdbcType=INTEGER},
      launch_members_count = #{launchMembersCount,jdbcType=INTEGER},
      help_members_count = #{helpMembersCount,jdbcType=INTEGER},
      register_members_count = #{registerMembersCount,jdbcType=INTEGER},
      take_coupon_count = #{takeCouponCount,jdbcType=BIGINT},
      total_visitors_count = #{totalVisitorsCount,jdbcType=BIGINT},
      total_launch_members_count = #{totalLaunchMembersCount,jdbcType=BIGINT},
      total_help_members_count = #{totalHelpMembersCount,jdbcType=BIGINT},
      total_register_members_count = #{totalRegisterMembersCount,jdbcType=BIGINT},
      total_take_coupon_count = #{totalTakeCouponCount,jdbcType=BIGINT},
      statistics_time = #{statisticsTime,jdbcType=DATE},
      statistics_type = #{statisticsType,jdbcType=CHAR},
      remark = #{remark,jdbcType=CHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where mkt_activity_statistics_id = #{mktActivityStatisticsId,jdbcType=BIGINT}
  </update>

  <select id="getAllDate" resultType="string">
      SELECT DATE_FORMAT(statistics_time, '%Y-%m-%d') FROM t_mkt_activity_statistics
      WHERE mkt_activity_id = #{activityId}
      GROUP BY statistics_time
  </select>
</mapper>