<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.MktActivityBirthdayPOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    <id column="mkt_activity_birthday_id" jdbcType="BIGINT" property="mktActivityBirthdayId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="mkt_activity_id" jdbcType="BIGINT" property="mktActivityId" />
    <result column="mbr_level_code" jdbcType="VARCHAR" property="mbrLevelCode" />
    <result column="mbr_level_name" jdbcType="VARCHAR" property="mbrLevelName" />
    <result column="member_type" jdbcType="INTEGER" property="memberType" />
    <result column="days_ahead" jdbcType="INTEGER" property="daysAhead" />
    <result column="is_store_limit" jdbcType="BIT" property="isStoreLimit" />
    <result column="store_limit_type" jdbcType="INTEGER" property="storeLimitType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    <result column="store_limit_list" jdbcType="LONGVARCHAR" property="storeLimitList" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    mkt_activity_birthday_id, sys_company_id, mkt_activity_id, mbr_level_code, mbr_level_name, 
    member_type, days_ahead, is_store_limit, store_limit_type, remark, create_user_id, 
    create_user_name, create_date, modified_user_id, modified_user_name, modified_date, 
    valid
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    store_limit_list
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_activity_birthday
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mkt_activity_birthday
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_activity_birthday
    where mkt_activity_birthday_id = #{mktActivityBirthdayId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    delete from t_mkt_activity_birthday
    where mkt_activity_birthday_id = #{mktActivityBirthdayId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    delete from t_mkt_activity_birthday
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    <selectKey keyProperty="mktActivityBirthdayId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_birthday (sys_company_id, mkt_activity_id, mbr_level_code, 
      mbr_level_name, member_type, days_ahead, 
      is_store_limit, store_limit_type, remark, 
      create_user_id, create_user_name, create_date, 
      modified_user_id, modified_user_name, modified_date, 
      valid, store_limit_list)
    values (#{sysCompanyId,jdbcType=BIGINT}, #{mktActivityId,jdbcType=BIGINT}, #{mbrLevelCode,jdbcType=VARCHAR}, 
      #{mbrLevelName,jdbcType=VARCHAR}, #{memberType,jdbcType=INTEGER}, #{daysAhead,jdbcType=INTEGER}, 
      #{isStoreLimit,jdbcType=BIT}, #{storeLimitType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifiedUserId,jdbcType=BIGINT}, #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=BIT}, #{storeLimitList,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    <selectKey keyProperty="mktActivityBirthdayId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_birthday
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="mktActivityId != null">
        mkt_activity_id,
      </if>
      <if test="mbrLevelCode != null">
        mbr_level_code,
      </if>
      <if test="mbrLevelName != null">
        mbr_level_name,
      </if>
      <if test="memberType != null">
        member_type,
      </if>
      <if test="daysAhead != null">
        days_ahead,
      </if>
      <if test="isStoreLimit != null">
        is_store_limit,
      </if>
      <if test="storeLimitType != null">
        store_limit_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="storeLimitList != null">
        store_limit_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="mktActivityId != null">
        #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="mbrLevelCode != null">
        #{mbrLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="mbrLevelName != null">
        #{mbrLevelName,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null">
        #{memberType,jdbcType=INTEGER},
      </if>
      <if test="daysAhead != null">
        #{daysAhead,jdbcType=INTEGER},
      </if>
      <if test="isStoreLimit != null">
        #{isStoreLimit,jdbcType=BIT},
      </if>
      <if test="storeLimitType != null">
        #{storeLimitType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="storeLimitList != null">
        #{storeLimitList,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    select count(*) from t_mkt_activity_birthday
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    update t_mkt_activity_birthday
    <set>
      <if test="record.mktActivityBirthdayId != null">
        mkt_activity_birthday_id = #{record.mktActivityBirthdayId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.mktActivityId != null">
        mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="record.mbrLevelCode != null">
        mbr_level_code = #{record.mbrLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.mbrLevelName != null">
        mbr_level_name = #{record.mbrLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberType != null">
        member_type = #{record.memberType,jdbcType=INTEGER},
      </if>
      <if test="record.daysAhead != null">
        days_ahead = #{record.daysAhead,jdbcType=INTEGER},
      </if>
      <if test="record.isStoreLimit != null">
        is_store_limit = #{record.isStoreLimit,jdbcType=BIT},
      </if>
      <if test="record.storeLimitType != null">
        store_limit_type = #{record.storeLimitType,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.storeLimitList != null">
        store_limit_list = #{record.storeLimitList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    update t_mkt_activity_birthday
    set mkt_activity_birthday_id = #{record.mktActivityBirthdayId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      mbr_level_code = #{record.mbrLevelCode,jdbcType=VARCHAR},
      mbr_level_name = #{record.mbrLevelName,jdbcType=VARCHAR},
      member_type = #{record.memberType,jdbcType=INTEGER},
      days_ahead = #{record.daysAhead,jdbcType=INTEGER},
      is_store_limit = #{record.isStoreLimit,jdbcType=BIT},
      store_limit_type = #{record.storeLimitType,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT},
      store_limit_list = #{record.storeLimitList,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    update t_mkt_activity_birthday
    set mkt_activity_birthday_id = #{record.mktActivityBirthdayId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      mbr_level_code = #{record.mbrLevelCode,jdbcType=VARCHAR},
      mbr_level_name = #{record.mbrLevelName,jdbcType=VARCHAR},
      member_type = #{record.memberType,jdbcType=INTEGER},
      days_ahead = #{record.daysAhead,jdbcType=INTEGER},
      is_store_limit = #{record.isStoreLimit,jdbcType=BIT},
      store_limit_type = #{record.storeLimitType,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    update t_mkt_activity_birthday
    <set>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="mktActivityId != null">
        mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="mbrLevelCode != null">
        mbr_level_code = #{mbrLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="mbrLevelName != null">
        mbr_level_name = #{mbrLevelName,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null">
        member_type = #{memberType,jdbcType=INTEGER},
      </if>
      <if test="daysAhead != null">
        days_ahead = #{daysAhead,jdbcType=INTEGER},
      </if>
      <if test="isStoreLimit != null">
        is_store_limit = #{isStoreLimit,jdbcType=BIT},
      </if>
      <if test="storeLimitType != null">
        store_limit_type = #{storeLimitType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="storeLimitList != null">
        store_limit_list = #{storeLimitList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mkt_activity_birthday_id = #{mktActivityBirthdayId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    update t_mkt_activity_birthday
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      mbr_level_code = #{mbrLevelCode,jdbcType=VARCHAR},
      mbr_level_name = #{mbrLevelName,jdbcType=VARCHAR},
      member_type = #{memberType,jdbcType=INTEGER},
      days_ahead = #{daysAhead,jdbcType=INTEGER},
      is_store_limit = #{isStoreLimit,jdbcType=BIT},
      store_limit_type = #{storeLimitType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT},
      store_limit_list = #{storeLimitList,jdbcType=LONGVARCHAR}
    where mkt_activity_birthday_id = #{mktActivityBirthdayId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityBirthdayPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-31 12:40:26.
    -->
    update t_mkt_activity_birthday
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      mbr_level_code = #{mbrLevelCode,jdbcType=VARCHAR},
      mbr_level_name = #{mbrLevelName,jdbcType=VARCHAR},
      member_type = #{memberType,jdbcType=INTEGER},
      days_ahead = #{daysAhead,jdbcType=INTEGER},
      is_store_limit = #{isStoreLimit,jdbcType=BIT},
      store_limit_type = #{storeLimitType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where mkt_activity_birthday_id = #{mktActivityBirthdayId,jdbcType=BIGINT}
  </update>

  <select id="getActivityBirthdayList" parameterType="com.bizvane.mktcenterservice.models.vo.ActivityVO" resultType="com.bizvane.mktcenterservice.models.vo.ActivityVO">
    SELECT
    tma.mkt_activity_id,
    tma.sys_company_id,
    tma.sys_brand_id,
    tma.activity_code,
    tma.activity_type,
    tma.activity_name,
    tma.start_time,
    tma.end_time,
    tma.long_term,
    tma.points,
    tma.check_status,
    tma.activity_status,
    tma.remark,
    tma.create_user_id,
    tma.create_user_name,
    tma.create_date,
    tma.modified_user_id,
    tma.modified_user_name,
    tma.modified_date,
    tma.valid,
    tma.activity_info,
    tmab.mkt_activity_birthday_id,
    tmab.member_type,
    tmab.mbr_level_code,
    tmab.mbr_level_name,
    tmab.days_ahead,
    tmab.is_store_limit,
    tmab.store_limit_type,
    tmab.store_limit_list
    FROM
    `t_mkt_activity` tma
    INNER JOIN t_mkt_activity_birthday tmab ON tma.mkt_activity_id = tmab.mkt_activity_id
    and tma.valid=1
    and tmab.valid=1
    <!--活动主表ID -->
    <if test="mktActivityId != null and mktActivityId!= '' ">
      AND tma.mkt_activity_id = #{mktActivityId}
    </if>
    <if test="activityStatus != null and activityStatus!=0">
      AND tma.activity_status = #{activityStatus}
    </if>
    <!--是否是长期活动 -->
    <if test="longTerm != null and longTerm!= '' ">
      AND tma.long_term = #{longTerm}
    </if>
    <!--开卡时等级编号 -->
    <if test="mbrLevelCode != null and mbrLevelCode!= ''">
      AND tmab.mbr_level_code = #{mbrLevelCode}
    </if>
    <!--所属品牌id -->
    <if test="sysBrandId != null and sysBrandId!= ''">
      AND tma.sys_brand_id = #{sysBrandId}
    </if>
    <!--活动类型-->
    <if test="activityType != null and activityType!= ''">
      AND tma.activity_type = #{activityType}
    </if>
    <!--活动编号-->
    <if test="activityCode != null and activityCode!= ''">
      AND tma.activity_code LIKE "%"#{activityCode}"%"
    </if>
    <if test="activityName != null and activityName!= ''">
      AND tma.activity_name LIKE "%"#{activityName}"%"
    </if>
    <if test="checkStatus != null and checkStatus!= '' ">
      AND tma.check_status = #{checkStatus,jdbcType=INTEGER}
    </if>
  </select>
</mapper>