<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.MktActivityPrizeRecordPOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.MktActivityPrizeRecordPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    <id column="mkt_activity_prize_record_id" jdbcType="BIGINT" property="mktActivityPrizeRecordId" />
    <result column="mkt_activity_id" jdbcType="BIGINT" property="mktActivityId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="sys_brand_id" jdbcType="BIGINT" property="sysBrandId" />
    <result column="member_code" jdbcType="VARCHAR" property="memberCode" />
    <result column="member_phone" jdbcType="VARCHAR" property="memberPhone" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="prize_type" jdbcType="INTEGER" property="prizeType" />
    <result column="awad_type" jdbcType="INTEGER" property="awadType" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="prize_time" jdbcType="TIMESTAMP" property="prizeTime" />
    <result column="coupon_definition_id" jdbcType="BIGINT" property="couponDefinitionId" />
    <result column="coupon_definition_code" jdbcType="VARCHAR" property="couponDefinitionCode" />
    <result column="is_win_prize" jdbcType="BIT" property="isWinPrize" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="INTEGER" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    mkt_activity_prize_record_id, mkt_activity_id, sys_company_id, sys_brand_id, member_code, 
    member_phone, member_name, prize_type, awad_type, prize_name, prize_time, coupon_definition_id, 
    coupon_definition_code, is_win_prize, remark, create_user_id, create_user_name, create_date, 
    modified_user_id, modified_user_name, modified_date, valid
  </sql>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizeRecordPOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mkt_activity_prize_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    select 
    <include refid="Base_Column_List" />
    from t_mkt_activity_prize_record
    where mkt_activity_prize_record_id = #{mktActivityPrizeRecordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    delete from t_mkt_activity_prize_record
    where mkt_activity_prize_record_id = #{mktActivityPrizeRecordId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizeRecordPOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    delete from t_mkt_activity_prize_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizeRecordPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    <selectKey keyProperty="mktActivityPrizeRecordId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_prize_record (mkt_activity_id, sys_company_id, sys_brand_id, 
      member_code, member_phone, member_name, 
      prize_type, awad_type, prize_name, 
      prize_time, coupon_definition_id, coupon_definition_code, 
      is_win_prize, remark, create_user_id, 
      create_user_name, create_date, modified_user_id, 
      modified_user_name, modified_date, valid
      )
    values (#{mktActivityId,jdbcType=BIGINT}, #{sysCompanyId,jdbcType=BIGINT}, #{sysBrandId,jdbcType=BIGINT}, 
      #{memberCode,jdbcType=VARCHAR}, #{memberPhone,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, 
      #{prizeType,jdbcType=INTEGER}, #{awadType,jdbcType=INTEGER}, #{prizeName,jdbcType=VARCHAR}, 
      #{prizeTime,jdbcType=TIMESTAMP}, #{couponDefinitionId,jdbcType=BIGINT}, #{couponDefinitionCode,jdbcType=VARCHAR}, 
      #{isWinPrize,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifiedUserId,jdbcType=INTEGER}, 
      #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizeRecordPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    <selectKey keyProperty="mktActivityPrizeRecordId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_prize_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mktActivityId != null">
        mkt_activity_id,
      </if>
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="sysBrandId != null">
        sys_brand_id,
      </if>
      <if test="memberCode != null">
        member_code,
      </if>
      <if test="memberPhone != null">
        member_phone,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="prizeType != null">
        prize_type,
      </if>
      <if test="awadType != null">
        awad_type,
      </if>
      <if test="prizeName != null">
        prize_name,
      </if>
      <if test="prizeTime != null">
        prize_time,
      </if>
      <if test="couponDefinitionId != null">
        coupon_definition_id,
      </if>
      <if test="couponDefinitionCode != null">
        coupon_definition_code,
      </if>
      <if test="isWinPrize != null">
        is_win_prize,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mktActivityId != null">
        #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="memberCode != null">
        #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="memberPhone != null">
        #{memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="prizeType != null">
        #{prizeType,jdbcType=INTEGER},
      </if>
      <if test="awadType != null">
        #{awadType,jdbcType=INTEGER},
      </if>
      <if test="prizeName != null">
        #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeTime != null">
        #{prizeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponDefinitionId != null">
        #{couponDefinitionId,jdbcType=BIGINT},
      </if>
      <if test="couponDefinitionCode != null">
        #{couponDefinitionCode,jdbcType=VARCHAR},
      </if>
      <if test="isWinPrize != null">
        #{isWinPrize,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=INTEGER},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizeRecordPOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    select count(*) from t_mkt_activity_prize_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    update t_mkt_activity_prize_record
    <set>
      <if test="record.mktActivityPrizeRecordId != null">
        mkt_activity_prize_record_id = #{record.mktActivityPrizeRecordId,jdbcType=BIGINT},
      </if>
      <if test="record.mktActivityId != null">
        mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.sysBrandId != null">
        sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="record.memberCode != null">
        member_code = #{record.memberCode,jdbcType=VARCHAR},
      </if>
      <if test="record.memberPhone != null">
        member_phone = #{record.memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.memberName != null">
        member_name = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.prizeType != null">
        prize_type = #{record.prizeType,jdbcType=INTEGER},
      </if>
      <if test="record.awadType != null">
        awad_type = #{record.awadType,jdbcType=INTEGER},
      </if>
      <if test="record.prizeName != null">
        prize_name = #{record.prizeName,jdbcType=VARCHAR},
      </if>
      <if test="record.prizeTime != null">
        prize_time = #{record.prizeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.couponDefinitionId != null">
        coupon_definition_id = #{record.couponDefinitionId,jdbcType=BIGINT},
      </if>
      <if test="record.couponDefinitionCode != null">
        coupon_definition_code = #{record.couponDefinitionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isWinPrize != null">
        is_win_prize = #{record.isWinPrize,jdbcType=BIT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=INTEGER},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    update t_mkt_activity_prize_record
    set mkt_activity_prize_record_id = #{record.mktActivityPrizeRecordId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      member_code = #{record.memberCode,jdbcType=VARCHAR},
      member_phone = #{record.memberPhone,jdbcType=VARCHAR},
      member_name = #{record.memberName,jdbcType=VARCHAR},
      prize_type = #{record.prizeType,jdbcType=INTEGER},
      awad_type = #{record.awadType,jdbcType=INTEGER},
      prize_name = #{record.prizeName,jdbcType=VARCHAR},
      prize_time = #{record.prizeTime,jdbcType=TIMESTAMP},
      coupon_definition_id = #{record.couponDefinitionId,jdbcType=BIGINT},
      coupon_definition_code = #{record.couponDefinitionCode,jdbcType=VARCHAR},
      is_win_prize = #{record.isWinPrize,jdbcType=BIT},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=INTEGER},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizeRecordPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    update t_mkt_activity_prize_record
    <set>
      <if test="mktActivityId != null">
        mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="memberCode != null">
        member_code = #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="memberPhone != null">
        member_phone = #{memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="prizeType != null">
        prize_type = #{prizeType,jdbcType=INTEGER},
      </if>
      <if test="awadType != null">
        awad_type = #{awadType,jdbcType=INTEGER},
      </if>
      <if test="prizeName != null">
        prize_name = #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeTime != null">
        prize_time = #{prizeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponDefinitionId != null">
        coupon_definition_id = #{couponDefinitionId,jdbcType=BIGINT},
      </if>
      <if test="couponDefinitionCode != null">
        coupon_definition_code = #{couponDefinitionCode,jdbcType=VARCHAR},
      </if>
      <if test="isWinPrize != null">
        is_win_prize = #{isWinPrize,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=INTEGER},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
    </set>
    where mkt_activity_prize_record_id = #{mktActivityPrizeRecordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizeRecordPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-02 13:14:26.
    -->
    update t_mkt_activity_prize_record
    set mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      member_code = #{memberCode,jdbcType=VARCHAR},
      member_phone = #{memberPhone,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR},
      prize_type = #{prizeType,jdbcType=INTEGER},
      awad_type = #{awadType,jdbcType=INTEGER},
      prize_name = #{prizeName,jdbcType=VARCHAR},
      prize_time = #{prizeTime,jdbcType=TIMESTAMP},
      coupon_definition_id = #{couponDefinitionId,jdbcType=BIGINT},
      coupon_definition_code = #{couponDefinitionCode,jdbcType=VARCHAR},
      is_win_prize = #{isWinPrize,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=INTEGER},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where mkt_activity_prize_record_id = #{mktActivityPrizeRecordId,jdbcType=BIGINT}
  </update>

  <select id="selectPrizePeopleNum" resultType="java.lang.Integer">
    SELECT
      COUNT(mkt_activity_id)
    FROM
      t_mkt_activity_prize_record
    WHERE
      valid=1
      AND is_win_prize=1
      AND mkt_activity_id=#{mktActivityId}
  </select>
  <select id="selectTotalPeopleNum" resultType="java.lang.Integer">
    SELECT
	COUNT( DISTINCT member_code )
    FROM
        t_mkt_activity_prize_record
    WHERE
    valid=1
	AND mkt_activity_id = #{mktActivityId}
  </select>
  <select id="selectPrizePeople" resultType="com.bizvane.mktcenterservice.models.po.MktActivityPrizeRecordPO">
  select
	mkt_activity_prize_record_id,
	mkt_activity_id,
	sys_company_id,
	sys_brand_id,
	member_code,
	member_phone,
	member_name,
	prize_type,
	awad_type,
	prize_name,
	prize_time,
	coupon_definition_id,
    coupon_definition_code,
	is_win_prize,
	remark,
	create_user_id,
	create_user_name,
	create_date,
	modified_user_id,
	modified_user_name,
	modified_date,
	valid
	FROM t_mkt_activity_prize_record
	WHERE
	valid=1
	AND awad_type!=#{prizeType}
    <if test="mktActivityId!= null ">
    AND mkt_activity_id=#{mktActivityId}
    </if>
    <if test="activityName!= null and activityName!= '' ">
    AND CONCAT(member_phone,member_name,prize_name) LIKE concat('%',#{activityName},'%')
    </if>
    ORDER BY prize_time DESC
  </select>
  <select id="getParticipateNum" resultType="java.lang.Integer">
    SELECT
	count(mkt_activity_prize_record_id)
    FROM
        t_mkt_activity_prize_record
    WHERE
    <if test="mktActivityId!= null ">
	mkt_activity_id = #{mktActivityId}
    </if>
    <if test="prizeType!= null ">
	AND prize_type = #{prizeType}
    </if>
    <if test="memberCode!= null and memberCode!= '' ">
	AND member_code=#{memberCode}
    </if>
	AND valid=1
  </select>
</mapper>