<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.MktActivityOrderPOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.MktActivityOrderPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    <id column="mkt_activity_order_id" jdbcType="BIGINT" property="mktActivityOrderId" />
    <result column="mkt_activity_id" jdbcType="BIGINT" property="mktActivityId" />
    <result column="mbr_level_code" jdbcType="VARCHAR" property="mbrLevelCode" />
    <result column="mbr_level_name" jdbcType="VARCHAR" property="mbrLevelName" />
    <result column="member_type" jdbcType="INTEGER" property="memberType" />
    <result column="order_source" jdbcType="INTEGER" property="orderSource" />
    <result column="order_min_price" jdbcType="VARCHAR" property="orderMinPrice" />
    <result column="commodity_limit" jdbcType="INTEGER" property="commodityLimit" />
    <result column="store_limit" jdbcType="INTEGER" property="storeLimit" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bizvane.mktcenterservice.models.po.MktActivityOrderPOWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    <result column="commodity_whitelist" jdbcType="LONGVARCHAR" property="commodityWhitelist" />
    <result column="commodity_blacklist" jdbcType="LONGVARCHAR" property="commodityBlacklist" />
    <result column="store_whitelist" jdbcType="LONGVARCHAR" property="storeWhitelist" />
    <result column="store_blacklist" jdbcType="LONGVARCHAR" property="storeBlacklist" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    mkt_activity_order_id, mkt_activity_id, mbr_level_code, mbr_level_name, member_type, 
    order_source, order_min_price, commodity_limit, store_limit, remark, create_user_id, 
    create_user_name, create_date, modified_user_id, modified_user_name, modified_date, 
    valid
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    commodity_whitelist, commodity_blacklist, store_whitelist, store_blacklist
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityOrderPOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_activity_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityOrderPOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mkt_activity_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_activity_order
    where mkt_activity_order_id = #{mktActivityOrderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    delete from t_mkt_activity_order
    where mkt_activity_order_id = #{mktActivityOrderId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityOrderPOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    delete from t_mkt_activity_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityOrderPOWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    <selectKey keyProperty="mktActivityOrderId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_order (mkt_activity_id, mbr_level_code, mbr_level_name, 
      member_type, order_source, order_min_price, 
      commodity_limit, store_limit, remark, 
      create_user_id, create_user_name, create_date, 
      modified_user_id, modified_user_name, modified_date, 
      valid, commodity_whitelist, commodity_blacklist, 
      store_whitelist, store_blacklist)
    values (#{mktActivityId,jdbcType=BIGINT}, #{mbrLevelCode,jdbcType=VARCHAR}, #{mbrLevelName,jdbcType=VARCHAR}, 
      #{memberType,jdbcType=INTEGER}, #{orderSource,jdbcType=INTEGER}, #{orderMinPrice,jdbcType=VARCHAR}, 
      #{commodityLimit,jdbcType=INTEGER}, #{storeLimit,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifiedUserId,jdbcType=BIGINT}, #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=BIT}, #{commodityWhitelist,jdbcType=LONGVARCHAR}, #{commodityBlacklist,jdbcType=LONGVARCHAR}, 
      #{storeWhitelist,jdbcType=LONGVARCHAR}, #{storeBlacklist,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityOrderPOWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    <selectKey keyProperty="mktActivityOrderId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mktActivityId != null">
        mkt_activity_id,
      </if>
      <if test="mbrLevelCode != null">
        mbr_level_code,
      </if>
      <if test="mbrLevelName != null">
        mbr_level_name,
      </if>
      <if test="memberType != null">
        member_type,
      </if>
      <if test="orderSource != null">
        order_source,
      </if>
      <if test="orderMinPrice != null">
        order_min_price,
      </if>
      <if test="commodityLimit != null">
        commodity_limit,
      </if>
      <if test="storeLimit != null">
        store_limit,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="commodityWhitelist != null">
        commodity_whitelist,
      </if>
      <if test="commodityBlacklist != null">
        commodity_blacklist,
      </if>
      <if test="storeWhitelist != null">
        store_whitelist,
      </if>
      <if test="storeBlacklist != null">
        store_blacklist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mktActivityId != null">
        #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="mbrLevelCode != null">
        #{mbrLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="mbrLevelName != null">
        #{mbrLevelName,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null">
        #{memberType,jdbcType=INTEGER},
      </if>
      <if test="orderSource != null">
        #{orderSource,jdbcType=INTEGER},
      </if>
      <if test="orderMinPrice != null">
        #{orderMinPrice,jdbcType=VARCHAR},
      </if>
      <if test="commodityLimit != null">
        #{commodityLimit,jdbcType=INTEGER},
      </if>
      <if test="storeLimit != null">
        #{storeLimit,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="commodityWhitelist != null">
        #{commodityWhitelist,jdbcType=LONGVARCHAR},
      </if>
      <if test="commodityBlacklist != null">
        #{commodityBlacklist,jdbcType=LONGVARCHAR},
      </if>
      <if test="storeWhitelist != null">
        #{storeWhitelist,jdbcType=LONGVARCHAR},
      </if>
      <if test="storeBlacklist != null">
        #{storeBlacklist,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityOrderPOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    select count(*) from t_mkt_activity_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    update t_mkt_activity_order
    <set>
      <if test="record.mktActivityOrderId != null">
        mkt_activity_order_id = #{record.mktActivityOrderId,jdbcType=BIGINT},
      </if>
      <if test="record.mktActivityId != null">
        mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="record.mbrLevelCode != null">
        mbr_level_code = #{record.mbrLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.mbrLevelName != null">
        mbr_level_name = #{record.mbrLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberType != null">
        member_type = #{record.memberType,jdbcType=INTEGER},
      </if>
      <if test="record.orderSource != null">
        order_source = #{record.orderSource,jdbcType=INTEGER},
      </if>
      <if test="record.orderMinPrice != null">
        order_min_price = #{record.orderMinPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityLimit != null">
        commodity_limit = #{record.commodityLimit,jdbcType=INTEGER},
      </if>
      <if test="record.storeLimit != null">
        store_limit = #{record.storeLimit,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.commodityWhitelist != null">
        commodity_whitelist = #{record.commodityWhitelist,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.commodityBlacklist != null">
        commodity_blacklist = #{record.commodityBlacklist,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.storeWhitelist != null">
        store_whitelist = #{record.storeWhitelist,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.storeBlacklist != null">
        store_blacklist = #{record.storeBlacklist,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    update t_mkt_activity_order
    set mkt_activity_order_id = #{record.mktActivityOrderId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      mbr_level_code = #{record.mbrLevelCode,jdbcType=VARCHAR},
      mbr_level_name = #{record.mbrLevelName,jdbcType=VARCHAR},
      member_type = #{record.memberType,jdbcType=INTEGER},
      order_source = #{record.orderSource,jdbcType=INTEGER},
      order_min_price = #{record.orderMinPrice,jdbcType=VARCHAR},
      commodity_limit = #{record.commodityLimit,jdbcType=INTEGER},
      store_limit = #{record.storeLimit,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT},
      commodity_whitelist = #{record.commodityWhitelist,jdbcType=LONGVARCHAR},
      commodity_blacklist = #{record.commodityBlacklist,jdbcType=LONGVARCHAR},
      store_whitelist = #{record.storeWhitelist,jdbcType=LONGVARCHAR},
      store_blacklist = #{record.storeBlacklist,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    update t_mkt_activity_order
    set mkt_activity_order_id = #{record.mktActivityOrderId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      mbr_level_code = #{record.mbrLevelCode,jdbcType=VARCHAR},
      mbr_level_name = #{record.mbrLevelName,jdbcType=VARCHAR},
      member_type = #{record.memberType,jdbcType=INTEGER},
      order_source = #{record.orderSource,jdbcType=INTEGER},
      order_min_price = #{record.orderMinPrice,jdbcType=VARCHAR},
      commodity_limit = #{record.commodityLimit,jdbcType=INTEGER},
      store_limit = #{record.storeLimit,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityOrderPOWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    update t_mkt_activity_order
    <set>
      <if test="mktActivityId != null">
        mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="mbrLevelCode != null">
        mbr_level_code = #{mbrLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="mbrLevelName != null">
        mbr_level_name = #{mbrLevelName,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null">
        member_type = #{memberType,jdbcType=INTEGER},
      </if>
      <if test="orderSource != null">
        order_source = #{orderSource,jdbcType=INTEGER},
      </if>
      <if test="orderMinPrice != null">
        order_min_price = #{orderMinPrice,jdbcType=VARCHAR},
      </if>
      <if test="commodityLimit != null">
        commodity_limit = #{commodityLimit,jdbcType=INTEGER},
      </if>
      <if test="storeLimit != null">
        store_limit = #{storeLimit,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="commodityWhitelist != null">
        commodity_whitelist = #{commodityWhitelist,jdbcType=LONGVARCHAR},
      </if>
      <if test="commodityBlacklist != null">
        commodity_blacklist = #{commodityBlacklist,jdbcType=LONGVARCHAR},
      </if>
      <if test="storeWhitelist != null">
        store_whitelist = #{storeWhitelist,jdbcType=LONGVARCHAR},
      </if>
      <if test="storeBlacklist != null">
        store_blacklist = #{storeBlacklist,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mkt_activity_order_id = #{mktActivityOrderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityOrderPOWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    update t_mkt_activity_order
    set mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      mbr_level_code = #{mbrLevelCode,jdbcType=VARCHAR},
      mbr_level_name = #{mbrLevelName,jdbcType=VARCHAR},
      member_type = #{memberType,jdbcType=INTEGER},
      order_source = #{orderSource,jdbcType=INTEGER},
      order_min_price = #{orderMinPrice,jdbcType=VARCHAR},
      commodity_limit = #{commodityLimit,jdbcType=INTEGER},
      store_limit = #{storeLimit,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT},
      commodity_whitelist = #{commodityWhitelist,jdbcType=LONGVARCHAR},
      commodity_blacklist = #{commodityBlacklist,jdbcType=LONGVARCHAR},
      store_whitelist = #{storeWhitelist,jdbcType=LONGVARCHAR},
      store_blacklist = #{storeBlacklist,jdbcType=LONGVARCHAR}
    where mkt_activity_order_id = #{mktActivityOrderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityOrderPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-08-16 16:31:22.
    -->
    update t_mkt_activity_order
    set mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      mbr_level_code = #{mbrLevelCode,jdbcType=VARCHAR},
      mbr_level_name = #{mbrLevelName,jdbcType=VARCHAR},
      member_type = #{memberType,jdbcType=INTEGER},
      order_source = #{orderSource,jdbcType=INTEGER},
      order_min_price = #{orderMinPrice,jdbcType=VARCHAR},
      commodity_limit = #{commodityLimit,jdbcType=INTEGER},
      store_limit = #{storeLimit,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where mkt_activity_order_id = #{mktActivityOrderId,jdbcType=BIGINT}
  </update>

  <select id="getActivityOrderList" parameterType="com.bizvane.mktcenterservice.models.vo.ActivityVO" resultType="com.bizvane.mktcenterservice.models.vo.ActivityVO">
    SELECT
    tma.mkt_activity_id,
    tma.sys_company_id,
    tma.sys_brand_id,
    tma.activity_code,
    tma.activity_type,
    tma.activity_name,
    tma.start_time,
    tma.end_time,
    tma.long_term,
    tma.points,
    tma.check_status,
    tma.activity_status,
    tma.remark,
    tma.create_user_id,
    tma.create_user_name,
    tma.create_date,
    tma.modified_user_id,
    tma.modified_user_name,
    tma.modified_date,
    tma.valid,

    tmao.mkt_activity_order_id,
    tmao.mkt_activity_id,
    tmao.member_type,
    tmao.mbr_level_code,
    tmao.mbr_level_name,
    tmao.order_source,
    tmao.order_min_price,
    tmao.is_commodity_limit,
    tmao.commodity_whitelist,
    tmao.commodity_blacklist,
    tmao.is_store_limit,
    tmao.store_whitelist,
    tmao.store_blacklist
    FROM
    `t_mkt_activity` tma
    INNER JOIN t_mkt_activity_order tmao ON tma.mkt_activity_id = tmao.mkt_activity_id
    and tma.valid=1
    and tmao.valid=1
    <!--活动主表ID -->
    <if test="mktActivityId != null and mktActivityId!= '' ">
      AND tma.mkt_activity_id = #{mktActivityId}
    </if>
    <if test="activityStatus != null and activityStatus!=0">
      AND tma.activity_status = #{activityStatus}
    </if>
    <!--是否是长期活动 -->
    <if test="longTerm != null and longTerm!= '' ">
      AND tma.long_term = #{longTerm}
    </if>
    <!--开卡时等级编号 -->
    <if test="mbrLevelCode != null and mbrLevelCode!= ''">
      AND tmao.mbr_level_code = #{mbrLevelCode}
    </if>
    <!--所属品牌id -->
    <if test="sysBrandId != null and sysBrandId!= ''">
      AND tma.sys_brand_id = #{sysBrandId}
    </if>
    <!--活动编号-->
    <if test="activityCode != null and activityCode!= ''">
      AND tma.activity_code = #{activityCode}
    </if>
  </select>
</mapper>