<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.MktActivityPrizePOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.MktActivityPrizePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <id column="mkt_activity_prize_id" jdbcType="BIGINT" property="mktActivityPrizeId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="sys_brand_id" jdbcType="BIGINT" property="sysBrandId" />
    <result column="mkt_activity_id" jdbcType="BIGINT" property="mktActivityId" />
    <result column="prize_type" jdbcType="INTEGER" property="prizeType" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="awad_type" jdbcType="INTEGER" property="awadType" />
    <result column="prize_points" jdbcType="INTEGER" property="prizePoints" />
    <result column="coupon_definition_id" jdbcType="BIGINT" property="couponDefinitionId" />
    <result column="coupon_name" jdbcType="VARCHAR" property="couponName" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="probability" jdbcType="DECIMAL" property="probability" />
    <result column="invalid_count" jdbcType="INTEGER" property="invalidCount" />
    <result column="prize_sum" jdbcType="INTEGER" property="prizeSum" />
    <result column="user_limit_sum" jdbcType="INTEGER" property="userLimitSum" />
    <result column="participate_prize" jdbcType="BIT" property="participatePrize" />
    <result column="participate_points" jdbcType="INTEGER" property="participatePoints" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    mkt_activity_prize_id, sys_company_id, sys_brand_id, mkt_activity_id, prize_type, 
    prize_name, awad_type, prize_points, coupon_definition_id, coupon_name, image_url, 
    probability, invalid_count, prize_sum, user_limit_sum, participate_prize, participate_points, 
    remark, create_user_id, create_user_name, create_date, modified_user_id, modified_user_name, 
    modified_date, valid
  </sql>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizePOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mkt_activity_prize
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    select 
    <include refid="Base_Column_List" />
    from t_mkt_activity_prize
    where mkt_activity_prize_id = #{mktActivityPrizeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    delete from t_mkt_activity_prize
    where mkt_activity_prize_id = #{mktActivityPrizeId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizePOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    delete from t_mkt_activity_prize
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <selectKey keyProperty="mktActivityPrizeId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_prize (sys_company_id, sys_brand_id, mkt_activity_id, 
      prize_type, prize_name, awad_type, 
      prize_points, coupon_definition_id, coupon_name, 
      image_url, probability, invalid_count, 
      prize_sum, user_limit_sum, participate_prize, 
      participate_points, remark, create_user_id, 
      create_user_name, create_date, modified_user_id, 
      modified_user_name, modified_date, valid
      )
    values (#{sysCompanyId,jdbcType=BIGINT}, #{sysBrandId,jdbcType=BIGINT}, #{mktActivityId,jdbcType=BIGINT}, 
      #{prizeType,jdbcType=INTEGER}, #{prizeName,jdbcType=VARCHAR}, #{awadType,jdbcType=INTEGER}, 
      #{prizePoints,jdbcType=INTEGER}, #{couponDefinitionId,jdbcType=BIGINT}, #{couponName,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{probability,jdbcType=DECIMAL}, #{invalidCount,jdbcType=INTEGER}, 
      #{prizeSum,jdbcType=INTEGER}, #{userLimitSum,jdbcType=INTEGER}, #{participatePrize,jdbcType=BIT}, 
      #{participatePoints,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifiedUserId,jdbcType=BIGINT}, 
      #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <selectKey keyProperty="mktActivityPrizeId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_prize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="sysBrandId != null">
        sys_brand_id,
      </if>
      <if test="mktActivityId != null">
        mkt_activity_id,
      </if>
      <if test="prizeType != null">
        prize_type,
      </if>
      <if test="prizeName != null">
        prize_name,
      </if>
      <if test="awadType != null">
        awad_type,
      </if>
      <if test="prizePoints != null">
        prize_points,
      </if>
      <if test="couponDefinitionId != null">
        coupon_definition_id,
      </if>
      <if test="couponName != null">
        coupon_name,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="probability != null">
        probability,
      </if>
      <if test="invalidCount != null">
        invalid_count,
      </if>
      <if test="prizeSum != null">
        prize_sum,
      </if>
      <if test="userLimitSum != null">
        user_limit_sum,
      </if>
      <if test="participatePrize != null">
        participate_prize,
      </if>
      <if test="participatePoints != null">
        participate_points,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="mktActivityId != null">
        #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="prizeType != null">
        #{prizeType,jdbcType=INTEGER},
      </if>
      <if test="prizeName != null">
        #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="awadType != null">
        #{awadType,jdbcType=INTEGER},
      </if>
      <if test="prizePoints != null">
        #{prizePoints,jdbcType=INTEGER},
      </if>
      <if test="couponDefinitionId != null">
        #{couponDefinitionId,jdbcType=BIGINT},
      </if>
      <if test="couponName != null">
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="probability != null">
        #{probability,jdbcType=DECIMAL},
      </if>
      <if test="invalidCount != null">
        #{invalidCount,jdbcType=INTEGER},
      </if>
      <if test="prizeSum != null">
        #{prizeSum,jdbcType=INTEGER},
      </if>
      <if test="userLimitSum != null">
        #{userLimitSum,jdbcType=INTEGER},
      </if>
      <if test="participatePrize != null">
        #{participatePrize,jdbcType=BIT},
      </if>
      <if test="participatePoints != null">
        #{participatePoints,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizePOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    select count(*) from t_mkt_activity_prize
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    update t_mkt_activity_prize
    <set>
      <if test="record.mktActivityPrizeId != null">
        mkt_activity_prize_id = #{record.mktActivityPrizeId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.sysBrandId != null">
        sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="record.mktActivityId != null">
        mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="record.prizeType != null">
        prize_type = #{record.prizeType,jdbcType=INTEGER},
      </if>
      <if test="record.prizeName != null">
        prize_name = #{record.prizeName,jdbcType=VARCHAR},
      </if>
      <if test="record.awadType != null">
        awad_type = #{record.awadType,jdbcType=INTEGER},
      </if>
      <if test="record.prizePoints != null">
        prize_points = #{record.prizePoints,jdbcType=INTEGER},
      </if>
      <if test="record.couponDefinitionId != null">
        coupon_definition_id = #{record.couponDefinitionId,jdbcType=BIGINT},
      </if>
      <if test="record.couponName != null">
        coupon_name = #{record.couponName,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrl != null">
        image_url = #{record.imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.probability != null">
        probability = #{record.probability,jdbcType=DECIMAL},
      </if>
      <if test="record.invalidCount != null">
        invalid_count = #{record.invalidCount,jdbcType=INTEGER},
      </if>
      <if test="record.prizeSum != null">
        prize_sum = #{record.prizeSum,jdbcType=INTEGER},
      </if>
      <if test="record.userLimitSum != null">
        user_limit_sum = #{record.userLimitSum,jdbcType=INTEGER},
      </if>
      <if test="record.participatePrize != null">
        participate_prize = #{record.participatePrize,jdbcType=BIT},
      </if>
      <if test="record.participatePoints != null">
        participate_points = #{record.participatePoints,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    update t_mkt_activity_prize
    set mkt_activity_prize_id = #{record.mktActivityPrizeId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      prize_type = #{record.prizeType,jdbcType=INTEGER},
      prize_name = #{record.prizeName,jdbcType=VARCHAR},
      awad_type = #{record.awadType,jdbcType=INTEGER},
      prize_points = #{record.prizePoints,jdbcType=INTEGER},
      coupon_definition_id = #{record.couponDefinitionId,jdbcType=BIGINT},
      coupon_name = #{record.couponName,jdbcType=VARCHAR},
      image_url = #{record.imageUrl,jdbcType=VARCHAR},
      probability = #{record.probability,jdbcType=DECIMAL},
      invalid_count = #{record.invalidCount,jdbcType=INTEGER},
      prize_sum = #{record.prizeSum,jdbcType=INTEGER},
      user_limit_sum = #{record.userLimitSum,jdbcType=INTEGER},
      participate_prize = #{record.participatePrize,jdbcType=BIT},
      participate_points = #{record.participatePoints,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    update t_mkt_activity_prize
    <set>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="mktActivityId != null">
        mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="prizeType != null">
        prize_type = #{prizeType,jdbcType=INTEGER},
      </if>
      <if test="prizeName != null">
        prize_name = #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="awadType != null">
        awad_type = #{awadType,jdbcType=INTEGER},
      </if>
      <if test="prizePoints != null">
        prize_points = #{prizePoints,jdbcType=INTEGER},
      </if>
      <if test="couponDefinitionId != null">
        coupon_definition_id = #{couponDefinitionId,jdbcType=BIGINT},
      </if>
      <if test="couponName != null">
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="probability != null">
        probability = #{probability,jdbcType=DECIMAL},
      </if>
      <if test="invalidCount != null">
        invalid_count = #{invalidCount,jdbcType=INTEGER},
      </if>
      <if test="prizeSum != null">
        prize_sum = #{prizeSum,jdbcType=INTEGER},
      </if>
      <if test="userLimitSum != null">
        user_limit_sum = #{userLimitSum,jdbcType=INTEGER},
      </if>
      <if test="participatePrize != null">
        participate_prize = #{participatePrize,jdbcType=BIT},
      </if>
      <if test="participatePoints != null">
        participate_points = #{participatePoints,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
    </set>
    where mkt_activity_prize_id = #{mktActivityPrizeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityPrizePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    update t_mkt_activity_prize
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      prize_type = #{prizeType,jdbcType=INTEGER},
      prize_name = #{prizeName,jdbcType=VARCHAR},
      awad_type = #{awadType,jdbcType=INTEGER},
      prize_points = #{prizePoints,jdbcType=INTEGER},
      coupon_definition_id = #{couponDefinitionId,jdbcType=BIGINT},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      probability = #{probability,jdbcType=DECIMAL},
      invalid_count = #{invalidCount,jdbcType=INTEGER},
      prize_sum = #{prizeSum,jdbcType=INTEGER},
      user_limit_sum = #{userLimitSum,jdbcType=INTEGER},
      participate_prize = #{participatePrize,jdbcType=BIT},
      participate_points = #{participatePoints,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where mkt_activity_prize_id = #{mktActivityPrizeId,jdbcType=BIGINT}
  </update>
  <select id="selectAnalysisPrice" parameterType="com.bizvane.mktcenterservice.models.vo.ActivityPriceParamVO" resultType="com.bizvane.mktcenterservice.models.vo.AnalysisPriceResultVO">
    SELECT
      tma.mkt_activity_id,
      tma.activity_name,
      tma.activity_code,
      tma.activity_status,
      ROUND( TIMESTAMPDIFF( HOUR, tma.start_time, tma.end_time ) / 24, 1 ) AS totalDates, -- 进行时长
      tmapr.member_count AS totalPeople,
      tma.start_time,
      tma.end_time
    FROM
      t_mkt_activity tma
        INNER JOIN t_mkt_activity_count tmapr ON tma.mkt_activity_id = tmapr.mkt_activity_id
   WHERE
     tma.valid=1
    AND tma.activity_type=11
    AND tma.activity_status between 2 and 3
    <if test="brandId!= null ">
    AND tma.sys_brand_id=#{brandId}
    </if>
    <if test="activityStatus!= null and activityStatus!='0'.toString() ">
      AND tma.activity_status=#{activityStatus}
    </if>
    <if test="activityName!= null and activityName!= '' ">
     AND (tma.activity_name LIKE CONCAT('%',#{activityName},'%')OR tma.activity_code LIKE CONCAT('%',#{activityName},'%'))
    </if>
  </select>
  <select id="selectMktActivityPrizeById" resultType="com.bizvane.mktcenterservice.models.vo.MktActivityPrizeVO">
   SELECT
	mkt_activity_prize_id,
	sys_company_id,
	sys_brand_id,
	mkt_activity_id,
	prize_type,
	prize_name,
	awad_type,
	prize_points,
	coupon_definition_id,
	coupon_name,
	image_url,
	probability,
	invalid_count,
	prize_sum,
	user_limit_sum,
	participate_prize,
	participate_points,
	remark,
	create_user_id,
	create_user_name,
	create_date,
	modified_user_id,
	modified_user_name,
	modified_date,
	valid
  FROM t_mkt_activity_prize
	WHERE
	valid=1
	AND mkt_activity_id =#{mktActivityId}
	ORDER BY prize_type ASC
  </select>
</mapper>