<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.MktActivityRedPacketSumPOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.MktActivityRedPacketSumPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    <id column="mkt_activity_red_packet_sum_id" jdbcType="BIGINT" property="mktActivityRedPacketSumId" />
    <result column="mkt_activity_id" jdbcType="BIGINT" property="mktActivityId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="activity_code" jdbcType="VARCHAR" property="activityCode" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="sys_brand_id" jdbcType="BIGINT" property="sysBrandId" />
    <result column="initiator_num" jdbcType="INTEGER" property="initiatorNum" />
    <result column="help_num" jdbcType="INTEGER" property="helpNum" />
    <result column="get_coupon_num" jdbcType="INTEGER" property="getCouponNum" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="activity_time" jdbcType="INTEGER" property="activityTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="INTEGER" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    mkt_activity_red_packet_sum_id, mkt_activity_id, sys_company_id, activity_code, activity_name, 
    sys_brand_id, initiator_num, help_num, get_coupon_num, end_time, activity_time, remark, 
    create_user_id, create_user_name, create_date, modified_user_id, modified_user_name, 
    modified_date, valid
  </sql>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityRedPacketSumPOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mkt_activity_red_packet_sum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    select 
    <include refid="Base_Column_List" />
    from t_mkt_activity_red_packet_sum
    where mkt_activity_red_packet_sum_id = #{mktActivityRedPacketSumId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    delete from t_mkt_activity_red_packet_sum
    where mkt_activity_red_packet_sum_id = #{mktActivityRedPacketSumId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityRedPacketSumPOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    delete from t_mkt_activity_red_packet_sum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityRedPacketSumPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    <selectKey keyProperty="mktActivityRedPacketSumId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_red_packet_sum (mkt_activity_id, sys_company_id, activity_code, 
      activity_name, sys_brand_id, initiator_num, 
      help_num, get_coupon_num, end_time, 
      activity_time, remark, create_user_id, 
      create_user_name, create_date, modified_user_id, 
      modified_user_name, modified_date, valid
      )
    values (#{mktActivityId,jdbcType=BIGINT}, #{sysCompanyId,jdbcType=BIGINT}, #{activityCode,jdbcType=VARCHAR}, 
      #{activityName,jdbcType=VARCHAR}, #{sysBrandId,jdbcType=BIGINT}, #{initiatorNum,jdbcType=INTEGER}, 
      #{helpNum,jdbcType=INTEGER}, #{getCouponNum,jdbcType=INTEGER}, #{endTime,jdbcType=TIMESTAMP}, 
      #{activityTime,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifiedUserId,jdbcType=INTEGER}, 
      #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityRedPacketSumPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    <selectKey keyProperty="mktActivityRedPacketSumId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_activity_red_packet_sum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mktActivityId != null">
        mkt_activity_id,
      </if>
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="activityCode != null">
        activity_code,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="sysBrandId != null">
        sys_brand_id,
      </if>
      <if test="initiatorNum != null">
        initiator_num,
      </if>
      <if test="helpNum != null">
        help_num,
      </if>
      <if test="getCouponNum != null">
        get_coupon_num,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="activityTime != null">
        activity_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mktActivityId != null">
        #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="activityCode != null">
        #{activityCode,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="sysBrandId != null">
        #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="initiatorNum != null">
        #{initiatorNum,jdbcType=INTEGER},
      </if>
      <if test="helpNum != null">
        #{helpNum,jdbcType=INTEGER},
      </if>
      <if test="getCouponNum != null">
        #{getCouponNum,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityTime != null">
        #{activityTime,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=INTEGER},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityRedPacketSumPOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    select count(*) from t_mkt_activity_red_packet_sum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    update t_mkt_activity_red_packet_sum
    <set>
      <if test="record.mktActivityRedPacketSumId != null">
        mkt_activity_red_packet_sum_id = #{record.mktActivityRedPacketSumId,jdbcType=BIGINT},
      </if>
      <if test="record.mktActivityId != null">
        mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.activityCode != null">
        activity_code = #{record.activityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.activityName != null">
        activity_name = #{record.activityName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysBrandId != null">
        sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="record.initiatorNum != null">
        initiator_num = #{record.initiatorNum,jdbcType=INTEGER},
      </if>
      <if test="record.helpNum != null">
        help_num = #{record.helpNum,jdbcType=INTEGER},
      </if>
      <if test="record.getCouponNum != null">
        get_coupon_num = #{record.getCouponNum,jdbcType=INTEGER},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activityTime != null">
        activity_time = #{record.activityTime,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=INTEGER},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    update t_mkt_activity_red_packet_sum
    set mkt_activity_red_packet_sum_id = #{record.mktActivityRedPacketSumId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      activity_code = #{record.activityCode,jdbcType=VARCHAR},
      activity_name = #{record.activityName,jdbcType=VARCHAR},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      initiator_num = #{record.initiatorNum,jdbcType=INTEGER},
      help_num = #{record.helpNum,jdbcType=INTEGER},
      get_coupon_num = #{record.getCouponNum,jdbcType=INTEGER},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      activity_time = #{record.activityTime,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=INTEGER},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityRedPacketSumPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    update t_mkt_activity_red_packet_sum
    <set>
      <if test="mktActivityId != null">
        mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="activityCode != null">
        activity_code = #{activityCode,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="sysBrandId != null">
        sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="initiatorNum != null">
        initiator_num = #{initiatorNum,jdbcType=INTEGER},
      </if>
      <if test="helpNum != null">
        help_num = #{helpNum,jdbcType=INTEGER},
      </if>
      <if test="getCouponNum != null">
        get_coupon_num = #{getCouponNum,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityTime != null">
        activity_time = #{activityTime,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=INTEGER},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
    </set>
    where mkt_activity_red_packet_sum_id = #{mktActivityRedPacketSumId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.MktActivityRedPacketSumPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-01-15 18:24:08.
    -->
    update t_mkt_activity_red_packet_sum
    set mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      activity_code = #{activityCode,jdbcType=VARCHAR},
      activity_name = #{activityName,jdbcType=VARCHAR},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      initiator_num = #{initiatorNum,jdbcType=INTEGER},
      help_num = #{helpNum,jdbcType=INTEGER},
      get_coupon_num = #{getCouponNum,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      activity_time = #{activityTime,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=INTEGER},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where mkt_activity_red_packet_sum_id = #{mktActivityRedPacketSumId,jdbcType=BIGINT}
  </update>
  <update id="updateUpdateCount" parameterType="com.bizvane.mktcenterservice.models.vo.ActivityRedPacketVO">
    UPDATE
    initiator_num = initiator_num + #{initiatorNum},
    help_num = help_num + #{helpNum},
    get_coupon_num = get_coupon_num + #{getCouponNum}
    WHERE
	valid = 1
	AND mkt_activity_id = #{mktActivityId} AND sys_brand_id=#{sysBrandId}
  </update>

  <select id="selectActivityRedPacketAnalyzeLists" resultType="com.bizvane.mktcenterservice.models.bo.ActivityRedPacketListBO">
  SELECT
    tmarp.mkt_activity_id,
    tmarp.sys_company_id,
    tmarp.activity_code,
    tmarp.activity_name,
    tmarp.sys_brand_id,
    tmarp.initiator_num,
    tmarp.help_num,
    tmarp.get_coupon_num,
    tmarp.end_time,
    tmarp.activity_time,
    tma.activity_status
  FROM t_mkt_activity_red_packet_sum tmarp INNER  JOIN  t_mkt_activity tma  ON tmarp.mkt_activity_id=tma.mkt_activity_id
  AND tma.valid=1
  WHERE
    tmarp.valid=1
  <if test="sysBrandId!= null ">
  AND tmarp.sys_brand_id=#{sysBrandId}
  </if>
  <if test="activityStatus!= null and activityStatus!='0'.toString() ">
  AND tma.activity_status=#{activityStatus}
  </if>
  <if test="activityName!= null and activityName!= '' ">
  AND CONCAT(tmarp.activity_name,tmarp.activity_code) LIKE concat('%',#{activityName},'%')
  </if>
  ORDER BY tmarp.create_date DESC
  </select>
</mapper>