<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.MktCouponIntegralExchangePOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    <id column="exchange_id" jdbcType="BIGINT" property="exchangeId" />
    <result column="exchange_code" jdbcType="VARCHAR" property="exchangeCode" />
    <result column="sys_brand_id" jdbcType="BIGINT" property="sysBrandId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="coupon_entity_id" jdbcType="BIGINT" property="couponEntityId" />
    <result column="coupon_name" jdbcType="VARCHAR" property="couponName" />
    <result column="exchange_price" jdbcType="INTEGER" property="exchangePrice" />
    <result column="store_status" jdbcType="INTEGER" property="storeStatus" />
    <result column="store_count" jdbcType="BIGINT" property="storeCount" />
    <result column="exchange_status" jdbcType="INTEGER" property="exchangeStatus" />
    <result column="exchange_count" jdbcType="BIGINT" property="exchangeCount" />
    <result column="already_exchange_count" jdbcType="BIGINT" property="alreadyExchangeCount" />
    <result column="store_scope" jdbcType="INTEGER" property="storeScope" />
    <result column="store_list" jdbcType="VARCHAR" property="storeList" />
    <result column="sales_status" jdbcType="INTEGER" property="salesStatus" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId" />
    <result column="modify_user_name" jdbcType="VARCHAR" property="modifyUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    <result column="exchange_info" jdbcType="LONGVARCHAR" property="exchangeInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    exchange_id, exchange_code, sys_brand_id, sys_company_id, coupon_entity_id, coupon_name, 
    exchange_price, store_status, store_count, exchange_status, exchange_count, already_exchange_count, 
    store_scope, store_list, sales_status, create_user_id, create_user_name, create_date, 
    modify_user_id, modify_user_name, modified_date, valid
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    exchange_info
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_coupon_integral_exchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mkt_coupon_integral_exchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_coupon_integral_exchange
    where exchange_id = #{exchangeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    delete from t_mkt_coupon_integral_exchange
    where exchange_id = #{exchangeId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    delete from t_mkt_coupon_integral_exchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    <selectKey keyProperty="exchangeId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_coupon_integral_exchange (exchange_code, sys_brand_id, sys_company_id, 
      coupon_entity_id, coupon_name, exchange_price, 
      store_status, store_count, exchange_status, 
      exchange_count, already_exchange_count, store_scope, 
      store_list, sales_status, create_user_id, 
      create_user_name, create_date, modify_user_id, 
      modify_user_name, modified_date, valid, 
      exchange_info)
    values (#{exchangeCode,jdbcType=VARCHAR}, #{sysBrandId,jdbcType=BIGINT}, #{sysCompanyId,jdbcType=BIGINT}, 
      #{couponEntityId,jdbcType=BIGINT}, #{couponName,jdbcType=VARCHAR}, #{exchangePrice,jdbcType=INTEGER}, 
      #{storeStatus,jdbcType=INTEGER}, #{storeCount,jdbcType=BIGINT}, #{exchangeStatus,jdbcType=INTEGER}, 
      #{exchangeCount,jdbcType=BIGINT}, #{alreadyExchangeCount,jdbcType=BIGINT}, #{storeScope,jdbcType=INTEGER}, 
      #{storeList,jdbcType=VARCHAR}, #{salesStatus,jdbcType=INTEGER}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=BIGINT}, 
      #{modifyUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=BIT}, 
      #{exchangeInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    <selectKey keyProperty="exchangeId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_coupon_integral_exchange
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="exchangeCode != null">
        exchange_code,
      </if>
      <if test="sysBrandId != null">
        sys_brand_id,
      </if>
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="couponEntityId != null">
        coupon_entity_id,
      </if>
      <if test="couponName != null">
        coupon_name,
      </if>
      <if test="exchangePrice != null">
        exchange_price,
      </if>
      <if test="storeStatus != null">
        store_status,
      </if>
      <if test="storeCount != null">
        store_count,
      </if>
      <if test="exchangeStatus != null">
        exchange_status,
      </if>
      <if test="exchangeCount != null">
        exchange_count,
      </if>
      <if test="alreadyExchangeCount != null">
        already_exchange_count,
      </if>
      <if test="storeScope != null">
        store_scope,
      </if>
      <if test="storeList != null">
        store_list,
      </if>
      <if test="salesStatus != null">
        sales_status,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="modifyUserName != null">
        modify_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="exchangeInfo != null">
        exchange_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="exchangeCode != null">
        #{exchangeCode,jdbcType=VARCHAR},
      </if>
      <if test="sysBrandId != null">
        #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="couponEntityId != null">
        #{couponEntityId,jdbcType=BIGINT},
      </if>
      <if test="couponName != null">
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="exchangePrice != null">
        #{exchangePrice,jdbcType=INTEGER},
      </if>
      <if test="storeStatus != null">
        #{storeStatus,jdbcType=INTEGER},
      </if>
      <if test="storeCount != null">
        #{storeCount,jdbcType=BIGINT},
      </if>
      <if test="exchangeStatus != null">
        #{exchangeStatus,jdbcType=INTEGER},
      </if>
      <if test="exchangeCount != null">
        #{exchangeCount,jdbcType=BIGINT},
      </if>
      <if test="alreadyExchangeCount != null">
        #{alreadyExchangeCount,jdbcType=BIGINT},
      </if>
      <if test="storeScope != null">
        #{storeScope,jdbcType=INTEGER},
      </if>
      <if test="storeList != null">
        #{storeList,jdbcType=VARCHAR},
      </if>
      <if test="salesStatus != null">
        #{salesStatus,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null">
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="exchangeInfo != null">
        #{exchangeInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    select count(*) from t_mkt_coupon_integral_exchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    update t_mkt_coupon_integral_exchange
    <set>
      <if test="record.exchangeId != null">
        exchange_id = #{record.exchangeId,jdbcType=BIGINT},
      </if>
      <if test="record.exchangeCode != null">
        exchange_code = #{record.exchangeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysBrandId != null">
        sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.couponEntityId != null">
        coupon_entity_id = #{record.couponEntityId,jdbcType=BIGINT},
      </if>
      <if test="record.couponName != null">
        coupon_name = #{record.couponName,jdbcType=VARCHAR},
      </if>
      <if test="record.exchangePrice != null">
        exchange_price = #{record.exchangePrice,jdbcType=INTEGER},
      </if>
      <if test="record.storeStatus != null">
        store_status = #{record.storeStatus,jdbcType=INTEGER},
      </if>
      <if test="record.storeCount != null">
        store_count = #{record.storeCount,jdbcType=BIGINT},
      </if>
      <if test="record.exchangeStatus != null">
        exchange_status = #{record.exchangeStatus,jdbcType=INTEGER},
      </if>
      <if test="record.exchangeCount != null">
        exchange_count = #{record.exchangeCount,jdbcType=BIGINT},
      </if>
      <if test="record.alreadyExchangeCount != null">
        already_exchange_count = #{record.alreadyExchangeCount,jdbcType=BIGINT},
      </if>
      <if test="record.storeScope != null">
        store_scope = #{record.storeScope,jdbcType=INTEGER},
      </if>
      <if test="record.storeList != null">
        store_list = #{record.storeList,jdbcType=VARCHAR},
      </if>
      <if test="record.salesStatus != null">
        sales_status = #{record.salesStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUserId != null">
        modify_user_id = #{record.modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifyUserName != null">
        modify_user_name = #{record.modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.exchangeInfo != null">
        exchange_info = #{record.exchangeInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    update t_mkt_coupon_integral_exchange
    set exchange_id = #{record.exchangeId,jdbcType=BIGINT},
      exchange_code = #{record.exchangeCode,jdbcType=VARCHAR},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      coupon_entity_id = #{record.couponEntityId,jdbcType=BIGINT},
      coupon_name = #{record.couponName,jdbcType=VARCHAR},
      exchange_price = #{record.exchangePrice,jdbcType=INTEGER},
      store_status = #{record.storeStatus,jdbcType=INTEGER},
      store_count = #{record.storeCount,jdbcType=BIGINT},
      exchange_status = #{record.exchangeStatus,jdbcType=INTEGER},
      exchange_count = #{record.exchangeCount,jdbcType=BIGINT},
      already_exchange_count = #{record.alreadyExchangeCount,jdbcType=BIGINT},
      store_scope = #{record.storeScope,jdbcType=INTEGER},
      store_list = #{record.storeList,jdbcType=VARCHAR},
      sales_status = #{record.salesStatus,jdbcType=INTEGER},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{record.modifyUserId,jdbcType=BIGINT},
      modify_user_name = #{record.modifyUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT},
      exchange_info = #{record.exchangeInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    update t_mkt_coupon_integral_exchange
    set exchange_id = #{record.exchangeId,jdbcType=BIGINT},
      exchange_code = #{record.exchangeCode,jdbcType=VARCHAR},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      coupon_entity_id = #{record.couponEntityId,jdbcType=BIGINT},
      coupon_name = #{record.couponName,jdbcType=VARCHAR},
      exchange_price = #{record.exchangePrice,jdbcType=INTEGER},
      store_status = #{record.storeStatus,jdbcType=INTEGER},
      store_count = #{record.storeCount,jdbcType=BIGINT},
      exchange_status = #{record.exchangeStatus,jdbcType=INTEGER},
      exchange_count = #{record.exchangeCount,jdbcType=BIGINT},
      already_exchange_count = #{record.alreadyExchangeCount,jdbcType=BIGINT},
      store_scope = #{record.storeScope,jdbcType=INTEGER},
      store_list = #{record.storeList,jdbcType=VARCHAR},
      sales_status = #{record.salesStatus,jdbcType=INTEGER},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{record.modifyUserId,jdbcType=BIGINT},
      modify_user_name = #{record.modifyUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    update t_mkt_coupon_integral_exchange
    <set>
      <if test="exchangeCode != null">
        exchange_code = #{exchangeCode,jdbcType=VARCHAR},
      </if>
      <if test="sysBrandId != null">
        sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="couponEntityId != null">
        coupon_entity_id = #{couponEntityId,jdbcType=BIGINT},
      </if>
      <if test="couponName != null">
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="exchangePrice != null">
        exchange_price = #{exchangePrice,jdbcType=INTEGER},
      </if>
      <if test="storeStatus != null">
        store_status = #{storeStatus,jdbcType=INTEGER},
      </if>
      <if test="storeCount != null">
        store_count = #{storeCount,jdbcType=BIGINT},
      </if>
      <if test="exchangeStatus != null">
        exchange_status = #{exchangeStatus,jdbcType=INTEGER},
      </if>
      <if test="exchangeCount != null">
        exchange_count = #{exchangeCount,jdbcType=BIGINT},
      </if>
      <if test="alreadyExchangeCount != null">
        already_exchange_count = #{alreadyExchangeCount,jdbcType=BIGINT},
      </if>
      <if test="storeScope != null">
        store_scope = #{storeScope,jdbcType=INTEGER},
      </if>
      <if test="storeList != null">
        store_list = #{storeList,jdbcType=VARCHAR},
      </if>
      <if test="salesStatus != null">
        sales_status = #{salesStatus,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null">
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="exchangeInfo != null">
        exchange_info = #{exchangeInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where exchange_id = #{exchangeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    update t_mkt_coupon_integral_exchange
    set exchange_code = #{exchangeCode,jdbcType=VARCHAR},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      coupon_entity_id = #{couponEntityId,jdbcType=BIGINT},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      exchange_price = #{exchangePrice,jdbcType=INTEGER},
      store_status = #{storeStatus,jdbcType=INTEGER},
      store_count = #{storeCount,jdbcType=BIGINT},
      exchange_status = #{exchangeStatus,jdbcType=INTEGER},
      exchange_count = #{exchangeCount,jdbcType=BIGINT},
      already_exchange_count = #{alreadyExchangeCount,jdbcType=BIGINT},
      store_scope = #{storeScope,jdbcType=INTEGER},
      store_list = #{storeList,jdbcType=VARCHAR},
      sales_status = #{salesStatus,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT},
      exchange_info = #{exchangeInfo,jdbcType=LONGVARCHAR}
    where exchange_id = #{exchangeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.MktCouponIntegralExchangePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-11-22 16:07:57.
    -->
    update t_mkt_coupon_integral_exchange
    set exchange_code = #{exchangeCode,jdbcType=VARCHAR},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      coupon_entity_id = #{couponEntityId,jdbcType=BIGINT},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      exchange_price = #{exchangePrice,jdbcType=INTEGER},
      store_status = #{storeStatus,jdbcType=INTEGER},
      store_count = #{storeCount,jdbcType=BIGINT},
      exchange_status = #{exchangeStatus,jdbcType=INTEGER},
      exchange_count = #{exchangeCount,jdbcType=BIGINT},
      already_exchange_count = #{alreadyExchangeCount,jdbcType=BIGINT},
      store_scope = #{storeScope,jdbcType=INTEGER},
      store_list = #{storeList,jdbcType=VARCHAR},
      sales_status = #{salesStatus,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where exchange_id = #{exchangeId,jdbcType=BIGINT}
  </update>
<!--积分兑换券列表 -->
  <select id="getCouponIntegralExchangeList" parameterType="com.bizvane.mktcenterservice.models.vo.MktCouponIntegralExchangeVO" resultType="com.bizvane.mktcenterservice.models.vo.MktCouponIntegralExchangeVO">
    SELECT
    tma.exchange_id,
    tma.exchange_code,
    tma.sys_brand_id,
    tma.sys_company_id,
    tma.coupon_entity_id,
    tma.coupon_name,
    tma.exchange_price,
    tma.store_status,
    tma.store_count,
    tma.exchange_status,
    tma.exchange_count,
    tma.store_scope,
    tma.store_list,
    tma.sales_status,
    tma.exchange_info,
    tma.create_user_id,
    tma.create_user_name,
    tma.create_date,
    tma.modify_user_id,
    tma.modify_user_name,
    tma.modified_date,
    tma.valid,


    tmar.cou AS alreadyExchangeCount
    FROM
    `t_mkt_coupon_integral_exchange` tma
    LEFT JOIN
    (SELECT exchange_id,count(1)cou FROM t_mkt_convert_coupon_record
    GROUP BY exchange_id
    ) tmar

    ON tma.exchange_id = tmar.exchange_id
    WHERE
    tma.valid=1
    <!--活动主表ID -->
    <if test="exchangeId != null and exchangeId!= '' ">
      AND tma.exchange_id = #{exchangeId}
    </if>
    <!--所属品牌id -->
    <if test="sysBrandId != null and sysBrandId!= ''">
      AND tma.sys_brand_id = #{sysBrandId}
    </if>
    <!--编号-->
    <if test="exchangeCode != null and exchangeCode!= ''">
      AND tma.exchange_code LIKE "%"#{exchangeCode}"%"
    </if>
    <if test="couponName != null and couponName!= ''">
      AND tma.coupon_name LIKE "%"#{couponName}"%"
    </if>
    <if test="salesStatus != null and salesStatus!= ''">
      AND tma.sales_status = #{salesStatus}
    </if>
    <if test="startTime != null and startTime!= ''">
      AND  tma.create_date  &gt;=#{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null and endTime!= ''">
      AND  tma.create_date &lt;=#{endTime,jdbcType=TIMESTAMP}
    </if>
    ORDER BY tma.create_date DESC
  </select>
  <!--批量上架下架 -->
  <update id="batchUpdateCouponIntegralExchange" parameterType="com.bizvane.mktcenterservice.models.vo.MktCouponIntegralExchangeVO">
    update t_mkt_coupon_integral_exchange
    <set>
      <if test="salesStatus != null">
        sales_status = #{salesStatus,jdbcType=INTEGER},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null">
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
    </set>
    where exchange_id in
    <foreach collection="exchangeIds" item="item"
             open="(" close=")" separator=",">
      #{item}
    </foreach>
  </update>
</mapper>