<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.MktGoldenStatisticsPOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    <id column="mkt_golden_statistics_id" jdbcType="BIGINT" property="mktGoldenStatisticsId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="sys_brand_id" jdbcType="BIGINT" property="sysBrandId" />
    <result column="mkt_activity_id" jdbcType="BIGINT" property="mktActivityId" />
    <result column="visitors_count" jdbcType="INTEGER" property="visitorsCount" />
    <result column="participate_member_count" jdbcType="INTEGER" property="participateMemberCount" />
    <result column="page_forward_count" jdbcType="INTEGER" property="pageForwardCount" />
    <result column="effective_sharing_count" jdbcType="INTEGER" property="effectiveSharingCount" />
    <result column="register_members_count" jdbcType="INTEGER" property="registerMembersCount" />
    <result column="total_visitors_count" jdbcType="INTEGER" property="totalVisitorsCount" />
    <result column="total_participate_member_count" jdbcType="INTEGER" property="totalParticipateMemberCount" />
    <result column="total_page_forward_count" jdbcType="INTEGER" property="totalPageForwardCount" />
    <result column="total_effective_sharing_count" jdbcType="INTEGER" property="totalEffectiveSharingCount" />
    <result column="total_register_members_count" jdbcType="INTEGER" property="totalRegisterMembersCount" />
    <result column="statistics_time" jdbcType="TIMESTAMP" property="statisticsTime" />
    <result column="statistics_type" jdbcType="CHAR" property="statisticsType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    <result column="hour_json_data" jdbcType="LONGVARCHAR" property="hourJsonData" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    mkt_golden_statistics_id, sys_company_id, sys_brand_id, mkt_activity_id, visitors_count, 
    participate_member_count, page_forward_count, effective_sharing_count, register_members_count, 
    total_visitors_count, total_participate_member_count, total_page_forward_count, total_effective_sharing_count, 
    total_register_members_count, statistics_time, statistics_type, remark, create_user_id, 
    create_user_name, create_date, modified_user_id, modified_user_name, modified_date, 
    valid
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    hour_json_data
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_golden_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mkt_golden_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_golden_statistics
    where mkt_golden_statistics_id = #{mktGoldenStatisticsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    delete from t_mkt_golden_statistics
    where mkt_golden_statistics_id = #{mktGoldenStatisticsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    delete from t_mkt_golden_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    <selectKey keyProperty="mktGoldenStatisticsId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_golden_statistics (sys_company_id, sys_brand_id, mkt_activity_id, 
      visitors_count, participate_member_count, 
      page_forward_count, effective_sharing_count, 
      register_members_count, total_visitors_count, 
      total_participate_member_count, total_page_forward_count, 
      total_effective_sharing_count, total_register_members_count, 
      statistics_time, statistics_type, remark, 
      create_user_id, create_user_name, create_date, 
      modified_user_id, modified_user_name, modified_date, 
      valid, hour_json_data)
    values (#{sysCompanyId,jdbcType=BIGINT}, #{sysBrandId,jdbcType=BIGINT}, #{mktActivityId,jdbcType=BIGINT}, 
      #{visitorsCount,jdbcType=INTEGER}, #{participateMemberCount,jdbcType=INTEGER}, 
      #{pageForwardCount,jdbcType=INTEGER}, #{effectiveSharingCount,jdbcType=INTEGER}, 
      #{registerMembersCount,jdbcType=INTEGER}, #{totalVisitorsCount,jdbcType=INTEGER}, 
      #{totalParticipateMemberCount,jdbcType=INTEGER}, #{totalPageForwardCount,jdbcType=INTEGER}, 
      #{totalEffectiveSharingCount,jdbcType=INTEGER}, #{totalRegisterMembersCount,jdbcType=INTEGER}, 
      #{statisticsTime,jdbcType=TIMESTAMP}, #{statisticsType,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifiedUserId,jdbcType=BIGINT}, #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=BIT}, #{hourJsonData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    <selectKey keyProperty="mktGoldenStatisticsId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_golden_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="sysBrandId != null">
        sys_brand_id,
      </if>
      <if test="mktActivityId != null">
        mkt_activity_id,
      </if>
      <if test="visitorsCount != null">
        visitors_count,
      </if>
      <if test="participateMemberCount != null">
        participate_member_count,
      </if>
      <if test="pageForwardCount != null">
        page_forward_count,
      </if>
      <if test="effectiveSharingCount != null">
        effective_sharing_count,
      </if>
      <if test="registerMembersCount != null">
        register_members_count,
      </if>
      <if test="totalVisitorsCount != null">
        total_visitors_count,
      </if>
      <if test="totalParticipateMemberCount != null">
        total_participate_member_count,
      </if>
      <if test="totalPageForwardCount != null">
        total_page_forward_count,
      </if>
      <if test="totalEffectiveSharingCount != null">
        total_effective_sharing_count,
      </if>
      <if test="totalRegisterMembersCount != null">
        total_register_members_count,
      </if>
      <if test="statisticsTime != null">
        statistics_time,
      </if>
      <if test="statisticsType != null">
        statistics_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="hourJsonData != null">
        hour_json_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="mktActivityId != null">
        #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="visitorsCount != null">
        #{visitorsCount,jdbcType=INTEGER},
      </if>
      <if test="participateMemberCount != null">
        #{participateMemberCount,jdbcType=INTEGER},
      </if>
      <if test="pageForwardCount != null">
        #{pageForwardCount,jdbcType=INTEGER},
      </if>
      <if test="effectiveSharingCount != null">
        #{effectiveSharingCount,jdbcType=INTEGER},
      </if>
      <if test="registerMembersCount != null">
        #{registerMembersCount,jdbcType=INTEGER},
      </if>
      <if test="totalVisitorsCount != null">
        #{totalVisitorsCount,jdbcType=INTEGER},
      </if>
      <if test="totalParticipateMemberCount != null">
        #{totalParticipateMemberCount,jdbcType=INTEGER},
      </if>
      <if test="totalPageForwardCount != null">
        #{totalPageForwardCount,jdbcType=INTEGER},
      </if>
      <if test="totalEffectiveSharingCount != null">
        #{totalEffectiveSharingCount,jdbcType=INTEGER},
      </if>
      <if test="totalRegisterMembersCount != null">
        #{totalRegisterMembersCount,jdbcType=INTEGER},
      </if>
      <if test="statisticsTime != null">
        #{statisticsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statisticsType != null">
        #{statisticsType,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="hourJsonData != null">
        #{hourJsonData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    select count(*) from t_mkt_golden_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    update t_mkt_golden_statistics
    <set>
      <if test="record.mktGoldenStatisticsId != null">
        mkt_golden_statistics_id = #{record.mktGoldenStatisticsId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.sysBrandId != null">
        sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="record.mktActivityId != null">
        mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="record.visitorsCount != null">
        visitors_count = #{record.visitorsCount,jdbcType=INTEGER},
      </if>
      <if test="record.participateMemberCount != null">
        participate_member_count = #{record.participateMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.pageForwardCount != null">
        page_forward_count = #{record.pageForwardCount,jdbcType=INTEGER},
      </if>
      <if test="record.effectiveSharingCount != null">
        effective_sharing_count = #{record.effectiveSharingCount,jdbcType=INTEGER},
      </if>
      <if test="record.registerMembersCount != null">
        register_members_count = #{record.registerMembersCount,jdbcType=INTEGER},
      </if>
      <if test="record.totalVisitorsCount != null">
        total_visitors_count = #{record.totalVisitorsCount,jdbcType=INTEGER},
      </if>
      <if test="record.totalParticipateMemberCount != null">
        total_participate_member_count = #{record.totalParticipateMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.totalPageForwardCount != null">
        total_page_forward_count = #{record.totalPageForwardCount,jdbcType=INTEGER},
      </if>
      <if test="record.totalEffectiveSharingCount != null">
        total_effective_sharing_count = #{record.totalEffectiveSharingCount,jdbcType=INTEGER},
      </if>
      <if test="record.totalRegisterMembersCount != null">
        total_register_members_count = #{record.totalRegisterMembersCount,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsTime != null">
        statistics_time = #{record.statisticsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statisticsType != null">
        statistics_type = #{record.statisticsType,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.hourJsonData != null">
        hour_json_data = #{record.hourJsonData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    update t_mkt_golden_statistics
    set mkt_golden_statistics_id = #{record.mktGoldenStatisticsId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      visitors_count = #{record.visitorsCount,jdbcType=INTEGER},
      participate_member_count = #{record.participateMemberCount,jdbcType=INTEGER},
      page_forward_count = #{record.pageForwardCount,jdbcType=INTEGER},
      effective_sharing_count = #{record.effectiveSharingCount,jdbcType=INTEGER},
      register_members_count = #{record.registerMembersCount,jdbcType=INTEGER},
      total_visitors_count = #{record.totalVisitorsCount,jdbcType=INTEGER},
      total_participate_member_count = #{record.totalParticipateMemberCount,jdbcType=INTEGER},
      total_page_forward_count = #{record.totalPageForwardCount,jdbcType=INTEGER},
      total_effective_sharing_count = #{record.totalEffectiveSharingCount,jdbcType=INTEGER},
      total_register_members_count = #{record.totalRegisterMembersCount,jdbcType=INTEGER},
      statistics_time = #{record.statisticsTime,jdbcType=TIMESTAMP},
      statistics_type = #{record.statisticsType,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT},
      hour_json_data = #{record.hourJsonData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    update t_mkt_golden_statistics
    set mkt_golden_statistics_id = #{record.mktGoldenStatisticsId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      mkt_activity_id = #{record.mktActivityId,jdbcType=BIGINT},
      visitors_count = #{record.visitorsCount,jdbcType=INTEGER},
      participate_member_count = #{record.participateMemberCount,jdbcType=INTEGER},
      page_forward_count = #{record.pageForwardCount,jdbcType=INTEGER},
      effective_sharing_count = #{record.effectiveSharingCount,jdbcType=INTEGER},
      register_members_count = #{record.registerMembersCount,jdbcType=INTEGER},
      total_visitors_count = #{record.totalVisitorsCount,jdbcType=INTEGER},
      total_participate_member_count = #{record.totalParticipateMemberCount,jdbcType=INTEGER},
      total_page_forward_count = #{record.totalPageForwardCount,jdbcType=INTEGER},
      total_effective_sharing_count = #{record.totalEffectiveSharingCount,jdbcType=INTEGER},
      total_register_members_count = #{record.totalRegisterMembersCount,jdbcType=INTEGER},
      statistics_time = #{record.statisticsTime,jdbcType=TIMESTAMP},
      statistics_type = #{record.statisticsType,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    update t_mkt_golden_statistics
    <set>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="mktActivityId != null">
        mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      </if>
      <if test="visitorsCount != null">
        visitors_count = #{visitorsCount,jdbcType=INTEGER},
      </if>
      <if test="participateMemberCount != null">
        participate_member_count = #{participateMemberCount,jdbcType=INTEGER},
      </if>
      <if test="pageForwardCount != null">
        page_forward_count = #{pageForwardCount,jdbcType=INTEGER},
      </if>
      <if test="effectiveSharingCount != null">
        effective_sharing_count = #{effectiveSharingCount,jdbcType=INTEGER},
      </if>
      <if test="registerMembersCount != null">
        register_members_count = #{registerMembersCount,jdbcType=INTEGER},
      </if>
      <if test="totalVisitorsCount != null">
        total_visitors_count = #{totalVisitorsCount,jdbcType=INTEGER},
      </if>
      <if test="totalParticipateMemberCount != null">
        total_participate_member_count = #{totalParticipateMemberCount,jdbcType=INTEGER},
      </if>
      <if test="totalPageForwardCount != null">
        total_page_forward_count = #{totalPageForwardCount,jdbcType=INTEGER},
      </if>
      <if test="totalEffectiveSharingCount != null">
        total_effective_sharing_count = #{totalEffectiveSharingCount,jdbcType=INTEGER},
      </if>
      <if test="totalRegisterMembersCount != null">
        total_register_members_count = #{totalRegisterMembersCount,jdbcType=INTEGER},
      </if>
      <if test="statisticsTime != null">
        statistics_time = #{statisticsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statisticsType != null">
        statistics_type = #{statisticsType,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="hourJsonData != null">
        hour_json_data = #{hourJsonData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mkt_golden_statistics_id = #{mktGoldenStatisticsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    update t_mkt_golden_statistics
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      visitors_count = #{visitorsCount,jdbcType=INTEGER},
      participate_member_count = #{participateMemberCount,jdbcType=INTEGER},
      page_forward_count = #{pageForwardCount,jdbcType=INTEGER},
      effective_sharing_count = #{effectiveSharingCount,jdbcType=INTEGER},
      register_members_count = #{registerMembersCount,jdbcType=INTEGER},
      total_visitors_count = #{totalVisitorsCount,jdbcType=INTEGER},
      total_participate_member_count = #{totalParticipateMemberCount,jdbcType=INTEGER},
      total_page_forward_count = #{totalPageForwardCount,jdbcType=INTEGER},
      total_effective_sharing_count = #{totalEffectiveSharingCount,jdbcType=INTEGER},
      total_register_members_count = #{totalRegisterMembersCount,jdbcType=INTEGER},
      statistics_time = #{statisticsTime,jdbcType=TIMESTAMP},
      statistics_type = #{statisticsType,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT},
      hour_json_data = #{hourJsonData,jdbcType=LONGVARCHAR}
    where mkt_golden_statistics_id = #{mktGoldenStatisticsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-02-19 16:54:15.
    -->
    update t_mkt_golden_statistics
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      mkt_activity_id = #{mktActivityId,jdbcType=BIGINT},
      visitors_count = #{visitorsCount,jdbcType=INTEGER},
      participate_member_count = #{participateMemberCount,jdbcType=INTEGER},
      page_forward_count = #{pageForwardCount,jdbcType=INTEGER},
      effective_sharing_count = #{effectiveSharingCount,jdbcType=INTEGER},
      register_members_count = #{registerMembersCount,jdbcType=INTEGER},
      total_visitors_count = #{totalVisitorsCount,jdbcType=INTEGER},
      total_participate_member_count = #{totalParticipateMemberCount,jdbcType=INTEGER},
      total_page_forward_count = #{totalPageForwardCount,jdbcType=INTEGER},
      total_effective_sharing_count = #{totalEffectiveSharingCount,jdbcType=INTEGER},
      total_register_members_count = #{totalRegisterMembersCount,jdbcType=INTEGER},
      statistics_time = #{statisticsTime,jdbcType=TIMESTAMP},
      statistics_type = #{statisticsType,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where mkt_golden_statistics_id = #{mktGoldenStatisticsId,jdbcType=BIGINT}
  </update>

  <select id="getTotalGoldenStatistics" resultType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPO">
    SELECT
        total_visitors_count,
        total_participate_member_count,
        total_page_forward_count,
        total_effective_sharing_count,
        total_register_members_count
    FROM
        t_mkt_golden_statistics
    WHERE
        mkt_activity_id = #{activityId}
        AND valid = 1
    ORDER BY
        statistics_time DESC
        LIMIT 1
  </select>
  <select id="getTotalGoldenStatisticsDate" resultType="com.bizvane.mktcenterservice.models.po.MktGoldenStatisticsPO">
    SELECT
    visitors_count,
    participate_member_count,
    page_forward_count,
    effective_sharing_count,
    register_members_count,
    hour_json_data
    FROM
    t_mkt_golden_statistics
    WHERE
    valid = 1
    AND mkt_activity_id = #{activityId}
    AND statistics_time &gt;= #{startDates}
    AND statistics_time &lt;= #{endDates}
  </select>

  <select id="getTotalGoldenStatisticsDates" resultType="com.bizvane.mktcenterservice.models.vo.MktGoldenStatisticsVO">
    SELECT
    visitors_count,
    participate_member_count,
    page_forward_count,
    effective_sharing_count,
    register_members_count,
    DATE_FORMAT( statistics_time, '%Y-%m-%d' ) statisticsTimes
    FROM
    t_mkt_golden_statistics
    WHERE
    valid = 1
    AND mkt_activity_id = #{activityId}
    AND statistics_time &gt;= #{startDates}
    AND statistics_time &lt;= #{endDates}
    ORDER BY statistics_time
  </select>
</mapper>