<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.MktMessagePOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.MktMessagePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <id column="mkt_msg_id" jdbcType="BIGINT" property="mktMsgId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="biz_type" jdbcType="INTEGER" property="bizType" />
    <result column="biz_id" jdbcType="BIGINT" property="bizId" />
    <result column="msg_type" jdbcType="VARCHAR" property="msgType" />
    <result column="msg_code" jdbcType="VARCHAR" property="msgCode" />
    <result column="template_msg_id" jdbcType="VARCHAR" property="templateMsgId" />
    <result column="send_immediately" jdbcType="BIT" property="sendImmediately" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="except_wechat" jdbcType="BIT" property="exceptWechat" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="navigation" jdbcType="VARCHAR" property="navigation" />
    <result column="activity_time" jdbcType="VARCHAR" property="activityTime" />
    <result column="sponsor" jdbcType="VARCHAR" property="sponsor" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bizvane.mktcenterservice.models.po.MktMessagePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <result column="msg_content" jdbcType="LONGVARCHAR" property="msgContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    mkt_msg_id, sys_company_id, biz_type, biz_id, msg_type, msg_code, template_msg_id, 
    send_immediately, send_time, except_wechat, remark, navigation, activity_time, sponsor, 
    link, create_user_id, create_user_name, create_date, modified_user_id, modified_user_name, 
    modified_date, valid
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    msg_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktMessagePOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktMessagePOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mkt_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_message
    where mkt_msg_id = #{mktMsgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    delete from t_mkt_message
    where mkt_msg_id = #{mktMsgId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktMessagePOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    delete from t_mkt_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.MktMessagePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <selectKey keyProperty="mktMsgId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_message (sys_company_id, biz_type, biz_id, 
      msg_type, msg_code, template_msg_id, 
      send_immediately, send_time, except_wechat, 
      remark, navigation, activity_time, 
      sponsor, link, create_user_id, 
      create_user_name, create_date, modified_user_id, 
      modified_user_name, modified_date, valid, 
      msg_content)
    values (#{sysCompanyId,jdbcType=BIGINT}, #{bizType,jdbcType=INTEGER}, #{bizId,jdbcType=BIGINT}, 
      #{msgType,jdbcType=VARCHAR}, #{msgCode,jdbcType=VARCHAR}, #{templateMsgId,jdbcType=VARCHAR}, 
      #{sendImmediately,jdbcType=BIT}, #{sendTime,jdbcType=TIMESTAMP}, #{exceptWechat,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{navigation,jdbcType=VARCHAR}, #{activityTime,jdbcType=VARCHAR}, 
      #{sponsor,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifiedUserId,jdbcType=BIGINT}, 
      #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=BIT}, 
      #{msgContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.MktMessagePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    <selectKey keyProperty="mktMsgId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_mkt_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="bizType != null">
        biz_type,
      </if>
      <if test="bizId != null">
        biz_id,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="msgCode != null">
        msg_code,
      </if>
      <if test="templateMsgId != null">
        template_msg_id,
      </if>
      <if test="sendImmediately != null">
        send_immediately,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="exceptWechat != null">
        except_wechat,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="navigation != null">
        navigation,
      </if>
      <if test="activityTime != null">
        activity_time,
      </if>
      <if test="sponsor != null">
        sponsor,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="msgContent != null">
        msg_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="bizType != null">
        #{bizType,jdbcType=INTEGER},
      </if>
      <if test="bizId != null">
        #{bizId,jdbcType=BIGINT},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="msgCode != null">
        #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="templateMsgId != null">
        #{templateMsgId,jdbcType=VARCHAR},
      </if>
      <if test="sendImmediately != null">
        #{sendImmediately,jdbcType=BIT},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exceptWechat != null">
        #{exceptWechat,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="navigation != null">
        #{navigation,jdbcType=VARCHAR},
      </if>
      <if test="activityTime != null">
        #{activityTime,jdbcType=VARCHAR},
      </if>
      <if test="sponsor != null">
        #{sponsor,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="msgContent != null">
        #{msgContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktMessagePOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    select count(*) from t_mkt_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    update t_mkt_message
    <set>
      <if test="record.mktMsgId != null">
        mkt_msg_id = #{record.mktMsgId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.bizType != null">
        biz_type = #{record.bizType,jdbcType=INTEGER},
      </if>
      <if test="record.bizId != null">
        biz_id = #{record.bizId,jdbcType=BIGINT},
      </if>
      <if test="record.msgType != null">
        msg_type = #{record.msgType,jdbcType=VARCHAR},
      </if>
      <if test="record.msgCode != null">
        msg_code = #{record.msgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.templateMsgId != null">
        template_msg_id = #{record.templateMsgId,jdbcType=VARCHAR},
      </if>
      <if test="record.sendImmediately != null">
        send_immediately = #{record.sendImmediately,jdbcType=BIT},
      </if>
      <if test="record.sendTime != null">
        send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.exceptWechat != null">
        except_wechat = #{record.exceptWechat,jdbcType=BIT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.navigation != null">
        navigation = #{record.navigation,jdbcType=VARCHAR},
      </if>
      <if test="record.activityTime != null">
        activity_time = #{record.activityTime,jdbcType=VARCHAR},
      </if>
      <if test="record.sponsor != null">
        sponsor = #{record.sponsor,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null">
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.msgContent != null">
        msg_content = #{record.msgContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    update t_mkt_message
    set mkt_msg_id = #{record.mktMsgId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      biz_type = #{record.bizType,jdbcType=INTEGER},
      biz_id = #{record.bizId,jdbcType=BIGINT},
      msg_type = #{record.msgType,jdbcType=VARCHAR},
      msg_code = #{record.msgCode,jdbcType=VARCHAR},
      template_msg_id = #{record.templateMsgId,jdbcType=VARCHAR},
      send_immediately = #{record.sendImmediately,jdbcType=BIT},
      send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      except_wechat = #{record.exceptWechat,jdbcType=BIT},
      remark = #{record.remark,jdbcType=VARCHAR},
      navigation = #{record.navigation,jdbcType=VARCHAR},
      activity_time = #{record.activityTime,jdbcType=VARCHAR},
      sponsor = #{record.sponsor,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT},
      msg_content = #{record.msgContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    update t_mkt_message
    set mkt_msg_id = #{record.mktMsgId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      biz_type = #{record.bizType,jdbcType=INTEGER},
      biz_id = #{record.bizId,jdbcType=BIGINT},
      msg_type = #{record.msgType,jdbcType=VARCHAR},
      msg_code = #{record.msgCode,jdbcType=VARCHAR},
      template_msg_id = #{record.templateMsgId,jdbcType=VARCHAR},
      send_immediately = #{record.sendImmediately,jdbcType=BIT},
      send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      except_wechat = #{record.exceptWechat,jdbcType=BIT},
      remark = #{record.remark,jdbcType=VARCHAR},
      navigation = #{record.navigation,jdbcType=VARCHAR},
      activity_time = #{record.activityTime,jdbcType=VARCHAR},
      sponsor = #{record.sponsor,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.MktMessagePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    update t_mkt_message
    <set>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="bizType != null">
        biz_type = #{bizType,jdbcType=INTEGER},
      </if>
      <if test="bizId != null">
        biz_id = #{bizId,jdbcType=BIGINT},
      </if>
      <if test="msgType != null">
        msg_type = #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="msgCode != null">
        msg_code = #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="templateMsgId != null">
        template_msg_id = #{templateMsgId,jdbcType=VARCHAR},
      </if>
      <if test="sendImmediately != null">
        send_immediately = #{sendImmediately,jdbcType=BIT},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exceptWechat != null">
        except_wechat = #{exceptWechat,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="navigation != null">
        navigation = #{navigation,jdbcType=VARCHAR},
      </if>
      <if test="activityTime != null">
        activity_time = #{activityTime,jdbcType=VARCHAR},
      </if>
      <if test="sponsor != null">
        sponsor = #{sponsor,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="msgContent != null">
        msg_content = #{msgContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mkt_msg_id = #{mktMsgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktMessagePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    update t_mkt_message
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      biz_type = #{bizType,jdbcType=INTEGER},
      biz_id = #{bizId,jdbcType=BIGINT},
      msg_type = #{msgType,jdbcType=VARCHAR},
      msg_code = #{msgCode,jdbcType=VARCHAR},
      template_msg_id = #{templateMsgId,jdbcType=VARCHAR},
      send_immediately = #{sendImmediately,jdbcType=BIT},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      except_wechat = #{exceptWechat,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      navigation = #{navigation,jdbcType=VARCHAR},
      activity_time = #{activityTime,jdbcType=VARCHAR},
      sponsor = #{sponsor,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT},
      msg_content = #{msgContent,jdbcType=LONGVARCHAR}
    where mkt_msg_id = #{mktMsgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.MktMessagePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-12-18 15:22:31.
    -->
    update t_mkt_message
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      biz_type = #{bizType,jdbcType=INTEGER},
      biz_id = #{bizId,jdbcType=BIGINT},
      msg_type = #{msgType,jdbcType=VARCHAR},
      msg_code = #{msgCode,jdbcType=VARCHAR},
      template_msg_id = #{templateMsgId,jdbcType=VARCHAR},
      send_immediately = #{sendImmediately,jdbcType=BIT},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      except_wechat = #{exceptWechat,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      navigation = #{navigation,jdbcType=VARCHAR},
      activity_time = #{activityTime,jdbcType=VARCHAR},
      sponsor = #{sponsor,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where mkt_msg_id = #{mktMsgId,jdbcType=BIGINT}
  </update>
</mapper>