<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.MktTaskSharePOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.MktTaskSharePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    <id column="mkt_task_profile_id" jdbcType="BIGINT" property="mktTaskProfileId" />
    <result column="mkt_task_id" jdbcType="BIGINT" property="mktTaskId" />
    <result column="share_times" jdbcType="INTEGER" property="shareTimes" />
    <result column="share_url_type" jdbcType="INTEGER" property="shareUrlType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bizvane.mktcenterservice.models.po.MktTaskSharePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    <result column="share_url" jdbcType="LONGVARCHAR" property="shareUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    mkt_task_profile_id, mkt_task_id, share_times, share_url_type, remark, create_user_id, 
    create_user_name, create_date, modified_user_id, modified_user_name, modified_date, 
    valid
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    share_url
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktTaskSharePOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_task_share
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktTaskSharePOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mkt_task_share
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_mkt_task_share
    where mkt_task_profile_id = #{mktTaskProfileId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    delete from t_mkt_task_share
    where mkt_task_profile_id = #{mktTaskProfileId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktTaskSharePOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    delete from t_mkt_task_share
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.MktTaskSharePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    insert into t_mkt_task_share (mkt_task_profile_id, mkt_task_id, share_times, 
      share_url_type, remark, create_user_id, 
      create_user_name, create_date, modified_user_id, 
      modified_user_name, modified_date, valid, 
      share_url)
    values (#{mktTaskProfileId,jdbcType=BIGINT}, #{mktTaskId,jdbcType=BIGINT}, #{shareTimes,jdbcType=INTEGER}, 
      #{shareUrlType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifiedUserId,jdbcType=BIGINT}, 
      #{modifiedUserName,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=BIT}, 
      #{shareUrl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.MktTaskSharePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    insert into t_mkt_task_share
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mktTaskProfileId != null">
        mkt_task_profile_id,
      </if>
      <if test="mktTaskId != null">
        mkt_task_id,
      </if>
      <if test="shareTimes != null">
        share_times,
      </if>
      <if test="shareUrlType != null">
        share_url_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="shareUrl != null">
        share_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mktTaskProfileId != null">
        #{mktTaskProfileId,jdbcType=BIGINT},
      </if>
      <if test="mktTaskId != null">
        #{mktTaskId,jdbcType=BIGINT},
      </if>
      <if test="shareTimes != null">
        #{shareTimes,jdbcType=INTEGER},
      </if>
      <if test="shareUrlType != null">
        #{shareUrlType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="shareUrl != null">
        #{shareUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.MktTaskSharePOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    select count(*) from t_mkt_task_share
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    update t_mkt_task_share
    <set>
      <if test="record.mktTaskProfileId != null">
        mkt_task_profile_id = #{record.mktTaskProfileId,jdbcType=BIGINT},
      </if>
      <if test="record.mktTaskId != null">
        mkt_task_id = #{record.mktTaskId,jdbcType=BIGINT},
      </if>
      <if test="record.shareTimes != null">
        share_times = #{record.shareTimes,jdbcType=INTEGER},
      </if>
      <if test="record.shareUrlType != null">
        share_url_type = #{record.shareUrlType,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.shareUrl != null">
        share_url = #{record.shareUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    update t_mkt_task_share
    set mkt_task_profile_id = #{record.mktTaskProfileId,jdbcType=BIGINT},
      mkt_task_id = #{record.mktTaskId,jdbcType=BIGINT},
      share_times = #{record.shareTimes,jdbcType=INTEGER},
      share_url_type = #{record.shareUrlType,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT},
      share_url = #{record.shareUrl,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    update t_mkt_task_share
    set mkt_task_profile_id = #{record.mktTaskProfileId,jdbcType=BIGINT},
      mkt_task_id = #{record.mktTaskId,jdbcType=BIGINT},
      share_times = #{record.shareTimes,jdbcType=INTEGER},
      share_url_type = #{record.shareUrlType,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.MktTaskSharePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    update t_mkt_task_share
    <set>
      <if test="mktTaskId != null">
        mkt_task_id = #{mktTaskId,jdbcType=BIGINT},
      </if>
      <if test="shareTimes != null">
        share_times = #{shareTimes,jdbcType=INTEGER},
      </if>
      <if test="shareUrlType != null">
        share_url_type = #{shareUrlType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="shareUrl != null">
        share_url = #{shareUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mkt_task_profile_id = #{mktTaskProfileId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.po.MktTaskSharePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    update t_mkt_task_share
    set mkt_task_id = #{mktTaskId,jdbcType=BIGINT},
      share_times = #{shareTimes,jdbcType=INTEGER},
      share_url_type = #{shareUrlType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT},
      share_url = #{shareUrl,jdbcType=LONGVARCHAR}
    where mkt_task_profile_id = #{mktTaskProfileId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.MktTaskSharePO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-14 13:26:02.
    -->
    update t_mkt_task_share
    set mkt_task_id = #{mktTaskId,jdbcType=BIGINT},
      share_times = #{shareTimes,jdbcType=INTEGER},
      share_url_type = #{shareUrlType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where mkt_task_profile_id = #{mktTaskProfileId,jdbcType=BIGINT}
  </update>
</mapper>