<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.RocketLogPOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.po.RocketLogPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    <id column="rocket_log_id" jdbcType="BIGINT" property="rocketLogId" />
    <result column="message_id" jdbcType="VARCHAR" property="messageId" />
    <result column="bussiness_id" jdbcType="VARCHAR" property="bussinessId" />
    <result column="bussiness_module_code" jdbcType="VARCHAR" property="bussinessModuleCode" />
    <result column="data_body" jdbcType="VARCHAR" property="dataBody" />
    <result column="result_info" jdbcType="VARCHAR" property="resultInfo" />
    <result column="send_state" jdbcType="VARCHAR" property="sendState" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    rocket_log_id, message_id, bussiness_id, bussiness_module_code, data_body, result_info, 
    send_state, update_user_id, update_date, create_user_id, create_date
  </sql>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.po.RocketLogPOExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_rocket_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    select 
    <include refid="Base_Column_List" />
    from t_rocket_log
    where rocket_log_id = #{rocketLogId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    delete from t_rocket_log
    where rocket_log_id = #{rocketLogId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.po.RocketLogPOExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    delete from t_rocket_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.po.RocketLogPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    <selectKey keyProperty="rocketLogId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_rocket_log (message_id, bussiness_id, bussiness_module_code, 
      data_body, result_info, send_state, 
      update_user_id, update_date, create_user_id, 
      create_date)
    values (#{messageId,jdbcType=VARCHAR}, #{bussinessId,jdbcType=VARCHAR}, #{bussinessModuleCode,jdbcType=VARCHAR}, 
      #{dataBody,jdbcType=VARCHAR}, #{resultInfo,jdbcType=VARCHAR}, #{sendState,jdbcType=VARCHAR}, 
      #{updateUserId,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.po.RocketLogPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    <selectKey keyProperty="rocketLogId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_rocket_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        message_id,
      </if>
      <if test="bussinessId != null">
        bussiness_id,
      </if>
      <if test="bussinessModuleCode != null">
        bussiness_module_code,
      </if>
      <if test="dataBody != null">
        data_body,
      </if>
      <if test="resultInfo != null">
        result_info,
      </if>
      <if test="sendState != null">
        send_state,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="bussinessId != null">
        #{bussinessId,jdbcType=VARCHAR},
      </if>
      <if test="bussinessModuleCode != null">
        #{bussinessModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="dataBody != null">
        #{dataBody,jdbcType=VARCHAR},
      </if>
      <if test="resultInfo != null">
        #{resultInfo,jdbcType=VARCHAR},
      </if>
      <if test="sendState != null">
        #{sendState,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.po.RocketLogPOExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    select count(*) from t_rocket_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    update t_rocket_log
    <set>
      <if test="record.rocketLogId != null">
        rocket_log_id = #{record.rocketLogId,jdbcType=BIGINT},
      </if>
      <if test="record.messageId != null">
        message_id = #{record.messageId,jdbcType=VARCHAR},
      </if>
      <if test="record.bussinessId != null">
        bussiness_id = #{record.bussinessId,jdbcType=VARCHAR},
      </if>
      <if test="record.bussinessModuleCode != null">
        bussiness_module_code = #{record.bussinessModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dataBody != null">
        data_body = #{record.dataBody,jdbcType=VARCHAR},
      </if>
      <if test="record.resultInfo != null">
        result_info = #{record.resultInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.sendState != null">
        send_state = #{record.sendState,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserId != null">
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    update t_rocket_log
    set rocket_log_id = #{record.rocketLogId,jdbcType=BIGINT},
      message_id = #{record.messageId,jdbcType=VARCHAR},
      bussiness_id = #{record.bussinessId,jdbcType=VARCHAR},
      bussiness_module_code = #{record.bussinessModuleCode,jdbcType=VARCHAR},
      data_body = #{record.dataBody,jdbcType=VARCHAR},
      result_info = #{record.resultInfo,jdbcType=VARCHAR},
      send_state = #{record.sendState,jdbcType=VARCHAR},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.po.RocketLogPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    update t_rocket_log
    <set>
      <if test="messageId != null">
        message_id = #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="bussinessId != null">
        bussiness_id = #{bussinessId,jdbcType=VARCHAR},
      </if>
      <if test="bussinessModuleCode != null">
        bussiness_module_code = #{bussinessModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="dataBody != null">
        data_body = #{dataBody,jdbcType=VARCHAR},
      </if>
      <if test="resultInfo != null">
        result_info = #{resultInfo,jdbcType=VARCHAR},
      </if>
      <if test="sendState != null">
        send_state = #{sendState,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rocket_log_id = #{rocketLogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.po.RocketLogPO">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2018-07-17 10:38:52.
    -->
    update t_rocket_log
    set message_id = #{messageId,jdbcType=VARCHAR},
      bussiness_id = #{bussinessId,jdbcType=VARCHAR},
      bussiness_module_code = #{bussinessModuleCode,jdbcType=VARCHAR},
      data_body = #{dataBody,jdbcType=VARCHAR},
      result_info = #{resultInfo,jdbcType=VARCHAR},
      send_state = #{sendState,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where rocket_log_id = #{rocketLogId,jdbcType=BIGINT}
  </update>
</mapper>