<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.SysStoreStaffRelPOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.PO.SysStoreStaffRelPO">
    <id column="sys_store_staff_rel_id" jdbcType="BIGINT" property="sysStoreStaffRelId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="sys_store_id" jdbcType="BIGINT" property="sysStoreId" />
    <result column="sys_staff_id" jdbcType="BIGINT" property="sysStaffId" />
    <result column="staff_orcode" jdbcType="VARCHAR" property="staffOrcode" />
    <result column="staff_orcode_route_url" jdbcType="VARCHAR" property="staffOrcodeRouteUrl" />
    <result column="type" jdbcType="BIGINT" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sys_store_staff_rel_id, sys_company_id, sys_store_id, sys_staff_id, staff_orcode, 
    staff_orcode_route_url, type, remark, create_user_id, create_user_name, create_date, 
    modified_user_id, modified_user_name, modified_date, valid
  </sql>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.PO.SysStoreStaffRelPOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_store_staff_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_store_staff_rel
    where sys_store_staff_rel_id = #{sysStoreStaffRelId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_store_staff_rel
    where sys_store_staff_rel_id = #{sysStoreStaffRelId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.PO.SysStoreStaffRelPOExample">
    delete from t_sys_store_staff_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.PO.SysStoreStaffRelPO">
    <selectKey keyProperty="sysStoreStaffRelId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_store_staff_rel (sys_company_id, sys_store_id, sys_staff_id, 
      staff_orcode, staff_orcode_route_url, type, 
      remark, create_user_id, create_user_name, 
      create_date, modified_user_id, modified_user_name, 
      modified_date, valid)
    values (#{sysCompanyId,jdbcType=BIGINT}, #{sysStoreId,jdbcType=BIGINT}, #{sysStaffId,jdbcType=BIGINT}, 
      #{staffOrcode,jdbcType=VARCHAR}, #{staffOrcodeRouteUrl,jdbcType=VARCHAR}, #{type,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifiedUserId,jdbcType=BIGINT}, #{modifiedUserName,jdbcType=VARCHAR}, 
      #{modifiedDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.PO.SysStoreStaffRelPO">
    <selectKey keyProperty="sysStoreStaffRelId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_store_staff_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="sysStoreId != null">
        sys_store_id,
      </if>
      <if test="sysStaffId != null">
        sys_staff_id,
      </if>
      <if test="staffOrcode != null">
        staff_orcode,
      </if>
      <if test="staffOrcodeRouteUrl != null">
        staff_orcode_route_url,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysStoreId != null">
        #{sysStoreId,jdbcType=BIGINT},
      </if>
      <if test="sysStaffId != null">
        #{sysStaffId,jdbcType=BIGINT},
      </if>
      <if test="staffOrcode != null">
        #{staffOrcode,jdbcType=VARCHAR},
      </if>
      <if test="staffOrcodeRouteUrl != null">
        #{staffOrcodeRouteUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.PO.SysStoreStaffRelPOExample" resultType="java.lang.Long">
    select count(*) from t_sys_store_staff_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sys_store_staff_rel
    <set>
      <if test="record.sysStoreStaffRelId != null">
        sys_store_staff_rel_id = #{record.sysStoreStaffRelId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.sysStoreId != null">
        sys_store_id = #{record.sysStoreId,jdbcType=BIGINT},
      </if>
      <if test="record.sysStaffId != null">
        sys_staff_id = #{record.sysStaffId,jdbcType=BIGINT},
      </if>
      <if test="record.staffOrcode != null">
        staff_orcode = #{record.staffOrcode,jdbcType=VARCHAR},
      </if>
      <if test="record.staffOrcodeRouteUrl != null">
        staff_orcode_route_url = #{record.staffOrcodeRouteUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sys_store_staff_rel
    set sys_store_staff_rel_id = #{record.sysStoreStaffRelId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_store_id = #{record.sysStoreId,jdbcType=BIGINT},
      sys_staff_id = #{record.sysStaffId,jdbcType=BIGINT},
      staff_orcode = #{record.staffOrcode,jdbcType=VARCHAR},
      staff_orcode_route_url = #{record.staffOrcodeRouteUrl,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.PO.SysStoreStaffRelPO">
    update t_sys_store_staff_rel
    <set>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysStoreId != null">
        sys_store_id = #{sysStoreId,jdbcType=BIGINT},
      </if>
      <if test="sysStaffId != null">
        sys_staff_id = #{sysStaffId,jdbcType=BIGINT},
      </if>
      <if test="staffOrcode != null">
        staff_orcode = #{staffOrcode,jdbcType=VARCHAR},
      </if>
      <if test="staffOrcodeRouteUrl != null">
        staff_orcode_route_url = #{staffOrcodeRouteUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
    </set>
    where sys_store_staff_rel_id = #{sysStoreStaffRelId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.PO.SysStoreStaffRelPO">
    update t_sys_store_staff_rel
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_store_id = #{sysStoreId,jdbcType=BIGINT},
      sys_staff_id = #{sysStaffId,jdbcType=BIGINT},
      staff_orcode = #{staffOrcode,jdbcType=VARCHAR},
      staff_orcode_route_url = #{staffOrcodeRouteUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where sys_store_staff_rel_id = #{sysStoreStaffRelId,jdbcType=BIGINT}
  </update>
</mapper>