<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizvane.mktcenterserviceimpl.mappers.SysStorePOMapper">
  <resultMap id="BaseResultMap" type="com.bizvane.mktcenterservice.models.PO.SysStorePO">
    <id column="sys_store_id" jdbcType="BIGINT" property="sysStoreId" />
    <result column="sys_company_id" jdbcType="BIGINT" property="sysCompanyId" />
    <result column="sys_brand_id" jdbcType="BIGINT" property="sysBrandId" />
    <result column="sys_store_code" jdbcType="VARCHAR" property="sysStoreCode" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
    <result column="biz_area" jdbcType="VARCHAR" property="bizArea" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="store_imgs" jdbcType="VARCHAR" property="storeImgs" />
    <result column="store_orcode" jdbcType="VARCHAR" property="storeOrcode" />
    <result column="store_orcode_route_url" jdbcType="VARCHAR" property="storeOrcodeRouteUrl" />
    <result column="distributor_name" jdbcType="VARCHAR" property="distributorName" />
    <result column="store_type" jdbcType="BIGINT" property="storeType" />
    <result column="dictionary_code" jdbcType="VARCHAR" property="dictionaryCode" />
    <result column="shop_owner" jdbcType="VARCHAR" property="shopOwner" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="on_date" jdbcType="TIMESTAMP" property="onDate" />
    <result column="off_date" jdbcType="TIMESTAMP" property="offDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="modified_user_name" jdbcType="VARCHAR" property="modifiedUserName" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="valid" jdbcType="BIT" property="valid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bizvane.mktcenterservice.models.PO.SysStorePO">
    <result column="store_info" jdbcType="LONGVARCHAR" property="storeInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sys_store_id, sys_company_id, sys_brand_id, sys_store_code, store_name, province_code, 
    city_code, area_code, detailed_address, biz_area, lng, lat, store_imgs, store_orcode, 
    store_orcode_route_url, distributor_name, store_type, dictionary_code, shop_owner, 
    status, on_date, off_date, remark, create_user_id, create_user_name, create_date, 
    modified_user_id, modified_user_name, modified_date, valid
  </sql>
  <sql id="Blob_Column_List">
    store_info
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.PO.SysStorePOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_sys_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.bizvane.mktcenterservice.models.PO.SysStorePOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_sys_store
    where sys_store_id = #{sysStoreId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_store
    where sys_store_id = #{sysStoreId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bizvane.mktcenterservice.models.PO.SysStorePOExample">
    delete from t_sys_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bizvane.mktcenterservice.models.PO.SysStorePO">
    <selectKey keyProperty="sysStoreId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_store (sys_company_id, sys_brand_id, sys_store_code, 
      store_name, province_code, city_code, 
      area_code, detailed_address, biz_area, 
      lng, lat, store_imgs, 
      store_orcode, store_orcode_route_url, distributor_name, 
      store_type, dictionary_code, shop_owner, 
      status, on_date, off_date, 
      remark, create_user_id, create_user_name, 
      create_date, modified_user_id, modified_user_name, 
      modified_date, valid, store_info
      )
    values (#{sysCompanyId,jdbcType=BIGINT}, #{sysBrandId,jdbcType=BIGINT}, #{sysStoreCode,jdbcType=VARCHAR}, 
      #{storeName,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{areaCode,jdbcType=VARCHAR}, #{detailedAddress,jdbcType=VARCHAR}, #{bizArea,jdbcType=VARCHAR}, 
      #{lng,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR}, #{storeImgs,jdbcType=VARCHAR}, 
      #{storeOrcode,jdbcType=VARCHAR}, #{storeOrcodeRouteUrl,jdbcType=VARCHAR}, #{distributorName,jdbcType=VARCHAR}, 
      #{storeType,jdbcType=BIGINT}, #{dictionaryCode,jdbcType=VARCHAR}, #{shopOwner,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{onDate,jdbcType=TIMESTAMP}, #{offDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifiedUserId,jdbcType=BIGINT}, #{modifiedUserName,jdbcType=VARCHAR}, 
      #{modifiedDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=BIT}, #{storeInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bizvane.mktcenterservice.models.PO.SysStorePO">
    <selectKey keyProperty="sysStoreId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        sys_company_id,
      </if>
      <if test="sysBrandId != null">
        sys_brand_id,
      </if>
      <if test="sysStoreCode != null">
        sys_store_code,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="detailedAddress != null">
        detailed_address,
      </if>
      <if test="bizArea != null">
        biz_area,
      </if>
      <if test="lng != null">
        lng,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="storeImgs != null">
        store_imgs,
      </if>
      <if test="storeOrcode != null">
        store_orcode,
      </if>
      <if test="storeOrcodeRouteUrl != null">
        store_orcode_route_url,
      </if>
      <if test="distributorName != null">
        distributor_name,
      </if>
      <if test="storeType != null">
        store_type,
      </if>
      <if test="dictionaryCode != null">
        dictionary_code,
      </if>
      <if test="shopOwner != null">
        shop_owner,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="onDate != null">
        on_date,
      </if>
      <if test="offDate != null">
        off_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="modifiedUserName != null">
        modified_user_name,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="storeInfo != null">
        store_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysCompanyId != null">
        #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="sysStoreCode != null">
        #{sysStoreCode,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="detailedAddress != null">
        #{detailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="bizArea != null">
        #{bizArea,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="storeImgs != null">
        #{storeImgs,jdbcType=VARCHAR},
      </if>
      <if test="storeOrcode != null">
        #{storeOrcode,jdbcType=VARCHAR},
      </if>
      <if test="storeOrcodeRouteUrl != null">
        #{storeOrcodeRouteUrl,jdbcType=VARCHAR},
      </if>
      <if test="distributorName != null">
        #{distributorName,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null">
        #{storeType,jdbcType=BIGINT},
      </if>
      <if test="dictionaryCode != null">
        #{dictionaryCode,jdbcType=VARCHAR},
      </if>
      <if test="shopOwner != null">
        #{shopOwner,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="onDate != null">
        #{onDate,jdbcType=TIMESTAMP},
      </if>
      <if test="offDate != null">
        #{offDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="storeInfo != null">
        #{storeInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bizvane.mktcenterservice.models.PO.SysStorePOExample" resultType="java.lang.Long">
    select count(*) from t_sys_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sys_store
    <set>
      <if test="record.sysStoreId != null">
        sys_store_id = #{record.sysStoreId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCompanyId != null">
        sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="record.sysBrandId != null">
        sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="record.sysStoreCode != null">
        sys_store_code = #{record.sysStoreCode,jdbcType=VARCHAR},
      </if>
      <if test="record.storeName != null">
        store_name = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null">
        province_code = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null">
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.areaCode != null">
        area_code = #{record.areaCode,jdbcType=VARCHAR},
      </if>
      <if test="record.detailedAddress != null">
        detailed_address = #{record.detailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.bizArea != null">
        biz_area = #{record.bizArea,jdbcType=VARCHAR},
      </if>
      <if test="record.lng != null">
        lng = #{record.lng,jdbcType=VARCHAR},
      </if>
      <if test="record.lat != null">
        lat = #{record.lat,jdbcType=VARCHAR},
      </if>
      <if test="record.storeImgs != null">
        store_imgs = #{record.storeImgs,jdbcType=VARCHAR},
      </if>
      <if test="record.storeOrcode != null">
        store_orcode = #{record.storeOrcode,jdbcType=VARCHAR},
      </if>
      <if test="record.storeOrcodeRouteUrl != null">
        store_orcode_route_url = #{record.storeOrcodeRouteUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.distributorName != null">
        distributor_name = #{record.distributorName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeType != null">
        store_type = #{record.storeType,jdbcType=BIGINT},
      </if>
      <if test="record.dictionaryCode != null">
        dictionary_code = #{record.dictionaryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.shopOwner != null">
        shop_owner = #{record.shopOwner,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.onDate != null">
        on_date = #{record.onDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.offDate != null">
        off_date = #{record.offDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedUserId != null">
        modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedUserName != null">
        modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.storeInfo != null">
        store_info = #{record.storeInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_sys_store
    set sys_store_id = #{record.sysStoreId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      sys_store_code = #{record.sysStoreCode,jdbcType=VARCHAR},
      store_name = #{record.storeName,jdbcType=VARCHAR},
      province_code = #{record.provinceCode,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      area_code = #{record.areaCode,jdbcType=VARCHAR},
      detailed_address = #{record.detailedAddress,jdbcType=VARCHAR},
      biz_area = #{record.bizArea,jdbcType=VARCHAR},
      lng = #{record.lng,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=VARCHAR},
      store_imgs = #{record.storeImgs,jdbcType=VARCHAR},
      store_orcode = #{record.storeOrcode,jdbcType=VARCHAR},
      store_orcode_route_url = #{record.storeOrcodeRouteUrl,jdbcType=VARCHAR},
      distributor_name = #{record.distributorName,jdbcType=VARCHAR},
      store_type = #{record.storeType,jdbcType=BIGINT},
      dictionary_code = #{record.dictionaryCode,jdbcType=VARCHAR},
      shop_owner = #{record.shopOwner,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      on_date = #{record.onDate,jdbcType=TIMESTAMP},
      off_date = #{record.offDate,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT},
      store_info = #{record.storeInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sys_store
    set sys_store_id = #{record.sysStoreId,jdbcType=BIGINT},
      sys_company_id = #{record.sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{record.sysBrandId,jdbcType=BIGINT},
      sys_store_code = #{record.sysStoreCode,jdbcType=VARCHAR},
      store_name = #{record.storeName,jdbcType=VARCHAR},
      province_code = #{record.provinceCode,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      area_code = #{record.areaCode,jdbcType=VARCHAR},
      detailed_address = #{record.detailedAddress,jdbcType=VARCHAR},
      biz_area = #{record.bizArea,jdbcType=VARCHAR},
      lng = #{record.lng,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=VARCHAR},
      store_imgs = #{record.storeImgs,jdbcType=VARCHAR},
      store_orcode = #{record.storeOrcode,jdbcType=VARCHAR},
      store_orcode_route_url = #{record.storeOrcodeRouteUrl,jdbcType=VARCHAR},
      distributor_name = #{record.distributorName,jdbcType=VARCHAR},
      store_type = #{record.storeType,jdbcType=BIGINT},
      dictionary_code = #{record.dictionaryCode,jdbcType=VARCHAR},
      shop_owner = #{record.shopOwner,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      on_date = #{record.onDate,jdbcType=TIMESTAMP},
      off_date = #{record.offDate,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{record.modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{record.modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizvane.mktcenterservice.models.PO.SysStorePO">
    update t_sys_store
    <set>
      <if test="sysCompanyId != null">
        sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      </if>
      <if test="sysBrandId != null">
        sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      </if>
      <if test="sysStoreCode != null">
        sys_store_code = #{sysStoreCode,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="detailedAddress != null">
        detailed_address = #{detailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="bizArea != null">
        biz_area = #{bizArea,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        lng = #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="storeImgs != null">
        store_imgs = #{storeImgs,jdbcType=VARCHAR},
      </if>
      <if test="storeOrcode != null">
        store_orcode = #{storeOrcode,jdbcType=VARCHAR},
      </if>
      <if test="storeOrcodeRouteUrl != null">
        store_orcode_route_url = #{storeOrcodeRouteUrl,jdbcType=VARCHAR},
      </if>
      <if test="distributorName != null">
        distributor_name = #{distributorName,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null">
        store_type = #{storeType,jdbcType=BIGINT},
      </if>
      <if test="dictionaryCode != null">
        dictionary_code = #{dictionaryCode,jdbcType=VARCHAR},
      </if>
      <if test="shopOwner != null">
        shop_owner = #{shopOwner,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="onDate != null">
        on_date = #{onDate,jdbcType=TIMESTAMP},
      </if>
      <if test="offDate != null">
        off_date = #{offDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedUserName != null">
        modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="storeInfo != null">
        store_info = #{storeInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where sys_store_id = #{sysStoreId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bizvane.mktcenterservice.models.PO.SysStorePO">
    update t_sys_store
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      sys_store_code = #{sysStoreCode,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      detailed_address = #{detailedAddress,jdbcType=VARCHAR},
      biz_area = #{bizArea,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      store_imgs = #{storeImgs,jdbcType=VARCHAR},
      store_orcode = #{storeOrcode,jdbcType=VARCHAR},
      store_orcode_route_url = #{storeOrcodeRouteUrl,jdbcType=VARCHAR},
      distributor_name = #{distributorName,jdbcType=VARCHAR},
      store_type = #{storeType,jdbcType=BIGINT},
      dictionary_code = #{dictionaryCode,jdbcType=VARCHAR},
      shop_owner = #{shopOwner,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      on_date = #{onDate,jdbcType=TIMESTAMP},
      off_date = #{offDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT},
      store_info = #{storeInfo,jdbcType=LONGVARCHAR}
    where sys_store_id = #{sysStoreId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bizvane.mktcenterservice.models.PO.SysStorePO">
    update t_sys_store
    set sys_company_id = #{sysCompanyId,jdbcType=BIGINT},
      sys_brand_id = #{sysBrandId,jdbcType=BIGINT},
      sys_store_code = #{sysStoreCode,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      detailed_address = #{detailedAddress,jdbcType=VARCHAR},
      biz_area = #{bizArea,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      store_imgs = #{storeImgs,jdbcType=VARCHAR},
      store_orcode = #{storeOrcode,jdbcType=VARCHAR},
      store_orcode_route_url = #{storeOrcodeRouteUrl,jdbcType=VARCHAR},
      distributor_name = #{distributorName,jdbcType=VARCHAR},
      store_type = #{storeType,jdbcType=BIGINT},
      dictionary_code = #{dictionaryCode,jdbcType=VARCHAR},
      shop_owner = #{shopOwner,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      on_date = #{onDate,jdbcType=TIMESTAMP},
      off_date = #{offDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      modified_user_name = #{modifiedUserName,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=BIT}
    where sys_store_id = #{sysStoreId,jdbcType=BIGINT}
  </update>
</mapper>